$sequence: (
	start: 0.5s, 
	stages: [ 
		//( 
		//	selector: ".logo-holder-entry-intro .logo", 
		//	animationGroup: ( 
		//		startShift: 0s, 
		//		animations: [ 
		//			( 
		//				startShift: 0s, 
		//				name: fade-in, 
		//				duration: 0.2s 
		//			), 

		//			( 
		//				startShift: 0s, 
		//				name: scale-logo-element-up, 
		//				duration: 0.2s 
		//			) 
		//		] 
		//	)
		//), 

		//( 
		//	selector: ".logo-holder-entry-intro .logo-sign", 
		//	animationGroup: ( 
		//		startShift: 0s, 
		//		animations: [
		//			( 
		//				startShift: 0s, 
		//				name: scale-logo-element-down, 
		//				duration: 0.2s 
		//			) 
		//		] 
		//	)
		//), 

		( 
			selector: ".logo-holder-entry-main .logo-sign", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					), 

					( 
						startShift: 0s, 
						name: scale-logo-element-down, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		//( 
		//	selector: ".logo-holder-entry-main", 
		//	animationGroup: ( 
		//		startShift: 0s, 
		//		animations: [ 
		//			( 
		//				startShift: 0s, 
		//				name: on, 
		//				duration: 0.0005s 
		//			) 
		//		] 
		//	)
		//), 

		( 
			selector: ".logo-holder-entry-intro", 
			animationGroup: ( 
				startShift: 0.2s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: unfold, 
						duration: 0.5s 
					) 
				] 
			)
		), 

		//( 
		//	selector: ".logo-holder-entry-intro", 
		//	animationGroup: ( 
		//		startShift: 0s, 
		//		animations: [ 
		//			( 
		//				startShift: 0s, 
		//				name: stack-back, 
		//				duration: 0.0005s 
		//			), 

		//			( 
		//				startShift: 0s, 
		//				name: unfold-height, 
		//				duration: 0.0005s 
		//			) 
		//		] 
		//	)
		//), 

		( 
			selector: ".logo-holder-entry-intro .logo-holder-entry-frame", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: position-top, 
						duration: 0.0005s 
					) 
				] 
			)
		), 

		( 
			selector: ".logo-holder-entry-intro", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: fold, 
						duration: 0.4s 
					) 
				] 
			)
		), 

		( 
			selector: ".logo-holder-entry-main .logo", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide-up, 
						duration: 0.2s 
					), 

					( 
						startShift: 0s, 
						name: fade-out, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".logo-holder", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: off, 
						duration: 0.0005s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner", 
			animationGroup: ( 
				startShift: -0.2s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: on, 
						duration: 0.0005s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner .featured-image", 
			animationGroup: ( 
				startShift: 0.1s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					)
				] 
			)
		), 

		( 
			selector: ".banner .subheading", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner .heading", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner .paragraph", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner-text-content-line", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".section-head-list", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner-entry .footer", 
			animationGroup: ( 
				startShift: -0.3s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner .main-nav-button-open", 
			animationGroup: ( 
				startShift: -1.2s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: slide, 
						duration: 0.4s 
					), 

					( 
						startShift: 0s, 
						name: fade-in, 
						duration: 0.2s 
					) 
				] 
			)
		), 

		( 
			selector: ".banner", 
			animationGroup: ( 
				startShift: 0s, 
				animations: [ 
					( 
						startShift: 0s, 
						name: overflow-on, 
						duration: 0.0005s 
					)
				] 
			)
		) 


	] 
); 