---
layout: page 
--- 

{% assign pages = site.data.pages | sort %} 
{% assign pos = 0 %} 

<section class= "page-set"> 
{% for page in pages %} 
	{% assign content = page[ 1 ] %} 

	<article 
		id= "{{ content.sectionID }}" 
		class= "section{% if content.classNames %}{{ content.classNames | join: ' ' | prepend: ' ' }}{% endif %}{% if pos == 0 %} section-current{% endif %}" 
	> 
		<section class= "section-main"> 
			{% include header.html data = content.navEntry %} 
			{% include section.html data = content %} 
			{% include footer.html %}  
		</section>
	</article> 

	{% assign pos = pos | plus: 1 %} 
{% endfor %} 
</section> 

<div class= "intro"> 
	<div class= "intro-wrapper"> 
		<div class= "intro-head"> 
			<div class= "intro-content intro-head-content">  
				<div class= "after-message-holder"><span class= "after-message">Be Happy and All The Love To You!</span></div> 
				<div class= "intro-head-block"> 
					<div class= "intro-head-block-heading">Doshky</div>
					<div class= "intro-head-block-text">The Collection of Paintings</div>  
				</div> 
			</div>
		</div>
		<div class= "intro-body"> 
			<div class= "intro-body-icon"></div> 

			<div class= "intro-content intro-body-content"> 
				<div class= "intro-body-display"> 
					<div class= "intro-body-message"></div> 
				</div>
			</div>
		</div> 
	</div>
</div> 
