.intro { 
	--hex-holder-width: 100px; 
	--hex-holder-height: var( --hex-holder-width ); 
	--hex-icon-size: calc( 0.585 * var( --hex-holder-height ) ); 
	--system-holder-width: 70px; 
	--system-holder-height: 61px;
	--system-icon-size: calc( 0.7 * var( --system-holder-height ) ); 
	--background-color:#C18C5D; /* #F0E68C */
	--foreground-color:  #061826; /* #3A405A; */ /* #323232 */
	
	--head-border-width: calc( var( --hex-holder-height ) / 2 ); 
	
	--head-background-hex-cross-pos: 150px; 
	--head-background-pull-up-duration: 0.4s; 
	--head-background-pull-up-delay: 0.2s; 
	
	--hex-in-delay: calc( var( --head-background-pull-up-delay ) + 0.8 * var( --head-background-pull-up-duration ) ); 
	--hex-fade-in-duration: 0.075s; 
	--hex-slide-up-duration: 0.2s; 
	--icon-slide-up-duration: 0.2s; 
	--icon-fade-in-duration: 0.075s; 
	--icon-in-start-relative-delay: 0.075s; 
	--icon-in-relative-delay: 0.07s; 

	--icon-in-start-delay: calc( var( --hex-in-delay ) + var( --icon-in-start-relative-delay ) ); 
	--icon-immune-in-delay: calc( var( --icon-in-start-delay ) + 0 * var( --icon-in-relative-delay ) ); 
	--icon-cardio-in-delay: calc( var( --icon-in-start-delay ) + 1 * var( --icon-in-relative-delay ) ); 
	--icon-respiratory-in-delay: calc( var( --icon-in-start-delay ) + 2 * var( --icon-in-relative-delay ) ); 
	--icon-neural-in-delay: calc( var( --icon-in-start-delay ) + 3 * var( --icon-in-relative-delay ) ); 
	--icon-skeletal-in-delay: calc( var( --icon-in-start-delay ) + 4 * var( --icon-in-relative-delay ) ); 
	
	--block-in-relative-delay: -0.5s;  
	--block-fade-in-duration: 0.25s; 
	--block-slide-up-duration: 0.25s; 
	--block-in-delay: calc( var( --icon-skeletal-in-delay ) + var( --icon-slide-up-duration ) + var( --block-in-relative-delay ) ); 
	
	
	--logo-fade-in-duration: 0.075s; 
	--logo-slide-down-duration: 0.2s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-delay: calc( var( --block-in-delay ) + var( --block-slide-up-duration ) + var( --logo-in-relative-delay ) ); 
	
} 

.points-section { 
	--column-count: 3; 
	--gutter-x-width: 0.25rem; 
	--gutter-y-width: 0.75rem; 
} 

@font-face { 
	src: url( './fonts/impact.ttf' ); 
	font-family: Impact; 
	
} 

@font-face { 
	src: url( './fonts/ionicons.ttf' ); 
	font-family: IonIcons; 
	
}

body { 
	margin: 0; 
	padding: 0; 
}

.intro { 
	width: 100%; height: 100%; 
	position: fixed; 
	background-color: var( --background-color );  
	overflow: auto; 
} 

.intro-wrapper { 
	width: 100%; min-height: 100%;  
}

.head, .body { 
	box-sizing: border-box; 
	min-height: 50vh; 
	/* padding-bottom: var( --head-border-width );  */

} 

.head, .body { 
	display: flex; flex-direction: column; justify-content: center; 
	position: relative; 
}

.content { 
	max-width: 960px;   
	margin-left: auto; margin-right: auto; 
	text-align: center; 
	
} 

.logo, .hex, .icon { 
	margin-left: auto; margin-right: auto; 
}

.head {  
	position: relative;   
	padding-bottom: var( --head-border-width ); 
	color: var( --background-color ); 
} 

/* .head .content { 
	padding: 2.5rem;   
}  */

.head:after { 
	display: block; 
	width: 100%; height: 200%; 
	position: absolute; left: 0; top: 0; z-index: -1; 
	background-color: var( --foreground-color );
	transform: translateY( -100% ); 
	content: ""; 
} 

.block { 
	transform: translateY( 100% ); 
	opacity: 0; 
} 

/* .logo { 
	width: 7rem; height: 4rem; 
	margin-bottom: 0.25rem; 
	background-image: url( ./icons/ellibeetherapy-logo.png ); background-size: contain; background-repeat: no-repeat; 
}  */

.heading {  
	margin-bottom: 0.2rem; 
} 

.heading, .under-construction-after-message, .under-construction-message { 
	text-transform: uppercase; 
} 

.heading, .under-construction-message { 
	font-family: Impact; font-size: 2rem; 
}

.text { 
	font-family: Arial; font-size: 0.75rem; text-transform: uppercase; 
} 

.under-construction-after-message-holder { 
	margin-top: -5rem; margin-bottom: 2.5rem;  
	opacity: 0; 
}

.under-construction-after-message {  
	padding: 0.85rem; 
	border: 1px solid; 
	font-family: Arial; 
	font-size: 0.85rem; 
} 

/* .body {  
	padding-top: 4.75rem; 
	padding-bottom: 4.75rem; 
}  */

.under-construction-message, 
.countdown {  
	/* padding-top: 2rem;  */ 
	border: none;  
	font-family: Impact;  
	color: var( --foreground-color );  
	transform: translateY( 50px ); 
	opacity: 0; 

} 

.countdown { 
	margin-top: 2.85rem; 

}

/* .under-construction-message, 
.countdown { 
	margin-top: 2.5rem; 

} */

.under-construction-message { 
	display: inline-block; 
	padding-top: 0.85rem; padding-bottom: 1rem;  
	margin-top: 1.5rem; 
	position: relative; 
	font-family: Arial; 
	font-size: 0.8rem; 
} 

.under-construction-message:before { 
	display: block; 
	margin-bottom: 0.2rem; 
	/* height: 1px; 
	position: absolute; left: 20%; right: 20%; top: 0; 
	background-color: var( --foreground-color );  */ 
	content: "\f474"; 
	font-family: IonIcons; 
	font-size: 1rem; 

}

.hex { 
	/* margin-top: calc( -1 * var( --head-border-width ) );  */ 
	/* border-radius: 50%; 
	background-color: #444;  */
	position: absolute; top: calc( -1 * var( --head-border-width ) ); 

}

.hex:before {
	display: flex; align-items: center; justify-content: center; 
	font-family: IonIcons; font-size: 8rem; 
	content: "\f2fc"; 
	color: var( --foreground-color ); 
	text-shadow: 0 0 2px var( --background-color ); 
} 

/* .body { 
	display: flex; flex-direction: column; justify-content: center; 

} */

.body .content { 
	height: 100%; 
	/* margin-top: calc( -1 * var( --head-border-width ) );  */  
} 

/* .hex, .icon, .hex:before, .icon:before { 
	background-position: center; background-size: contain; background-repeat: no-repeat;  
} */

.hex, .icon { 
	display: flex; align-items: center; justify-content: center; 
	margin-bottom: 0.475rem; 
}

.hex { 
	width: var( --hex-holder-width ); height: var( --hex-holder-height );  
	width: 100%; 
	/* background-image: url( './icons/hex.png' );  */ 
	transform: translateY( 150px ); 
	opacity: 0; 
} 

/* .hex:before, .icon:before {  
	display: block; 
	content: ""; 
}  */

.hex:before { 
	width: var( --hex-icon-size ); height: var( --hex-icon-size ); 
} 


.intro, .body, .hex, 
.head:after, .icon, .logo, .head .content, .block, 
.under-construction-after-message-holder, .under-construction-after-message, .under-construction-message, 
.countdown, 
.pieces, .point.logo, .points-section, .original-logo, .left, .right, .point, .point:before, .point .text { 
	animation-fill-mode: forwards;	
} 

.head:after { 
	animation-name: pull-up; animation-duration: var( --head-background-pull-up-duration ); animation-delay: var( --head-background-pull-up-delay ); animation-timing-function: ease; 
	
} 

.hex { 
	animation-name: fade-in, slide-up; animation-duration: var( --hex-fade-in-duration ), var( --hex-slide-up-duration ); animation-delay: var( --hex-in-delay ); 
	
} 

.block { 
	animation-name: fade-in, slide-up; animation-duration: var( --block-fade-in-duration ), var( --block-slide-up-duration ); animation-delay: var( --block-in-delay ); 
	
}

.under-construction-after-message-holder { 
	animation-name: fade-in, slide-down; animation-duration: var( --logo-fade-in-duration ), var( --logo-slide-down-duration ); animation-delay: var( --logo-in-delay ); 
	
} 

.under-construction-message, 
.countdown { 
	animation-name: fade-in, slide-up; animation-duration: var( --icon-fade-in-duration ), var( --icon-slide-up-duration ); animation-delay: var( --icon-in-start-delay ); 
	
} 

.under-construction-message { 
	animation-delay: calc( var( --icon-in-start-delay ) + 0.125s ); 
} 


@keyframes pull-up { 

	80% { 
		transform: translateY( calc( -50% + 150px ) ); 
	}

	100% { 
		transform: translateY( -50% ); 
	}
	
} 

@keyframes slide-up { 

	100% { 
		transform: translateY( 0 ); 
	}
	
} 

@keyframes fade-in { 

	100% { 
		opacity: 1; 
		
	}
	
} 

@keyframes slide-down { 

	100% { 
		margin-top: 0; 
		
	}
	
} 






























