{% assign banner = include.banner %} 

<section class= "banner" id= "banner">  
	<section class= "banner-entry"> 
		{% include header.html %} 

		<section class= "text-content banner-text-content">  
			{% include subheading.html 
				text = banner.subheading 
				className = "banner-subheading" 
			%} 

			{% include heading.html 
				level = 2 
				text = banner.heading 
				className = "banner-heading" 
			%} 
		
			{% for paragraph in banner.paragraphs %} 
				<p class= "paragraph banner-paragraph">{{ paragraph.text }}</p> 
			{% endfor %} 

			<a 
				class= "button control-button button-open details-button button-open-page" 
				href= "#page-holder" 
				data-control-set= "#page-holder.add:page-holder-open" 
			>
				Read More 
			</a> 
		</section> 

		{% include cover-image.html 
			src = banner.image.src 
		%} 
	</section> 
</section>
