{% assign entries = include.data %}


<!-- <ul class= "image-list"> 
	{% for entry in entries  %}
	<li class= "image-entry">
		{% include cover-image.html data = entry %} 
	</li>
	{% endfor %} 
</ul> 

<ul class= "random-access"> 
	{% for entry in entries  %}
	<li class= "random-access-entry">
		<button class= "button" style= "background-image: url( '/assets/images/thumbs/{{ entry.src }}' )"></button>
	</li>
	{% endfor %} 
</ul>  -->

<!-- <div id="my_nanogallery2" data-nanogallery2>
	<a href="img_01.jpg" data-ngthumb="img_01t.jpg">title 1</a>
	<a href="img_02.jpg" data-ngthumb="img_02t.jpg">title 2</a>
	<a href="img_03.jpg" data-ngthumb="img_03t.jpg">title 3</a>
	...
   </div>  -->

<button class= "switch-gallery-button"></button> 

<!-- <div id= "paintings-gallery" class= "fotorama">   
	{% for entry in entries  %}
		<img src= "/assets/images/{{ entry.src }}" data-ngthumb= "/assets/images/{{ entry.src }}" class= "button gallery-thumbnail" />
	{% endfor %} 
</div>  -->

