{% assign currentSectionNavEntry = include.data %} 

<nav class= "main-nav" id= "main-nav"> 
	<h6 class= "usability-heading">Main navigation</h6> 

	<section class= "nav"> 
		<ul class= "entry-list nav-entry-list"> 
		{% assign pageCount = site.data.pages | size %} 

		{% for i in ( 1..pageCount ) %} 
			{% assign page = site.data.pages | where: "order", i %} 
			{% assign navEntry = page[ 0 ].navEntry %} 
			{% if navEntry %} 
				<li class= "nav-entry{% if currentSectionNavEntry.targetSectionSelector == navEntry.targetSectionSelector %} entry-current{% endif %}"> 
					<a 
						href= "{{ navEntry.targetSectionSelector }}" 
						class= "nav-link inner-link{{ navEntry.classNames | join: ' ' | prepend: ' ' }} control-button" 
						data-control-set= "#page-body.remove:nav-on, #page-body.add:content-section-on, {{ navEntry.targetSectionSelector }}.add:section-on" 
						data-section-pos= "{{ pos }}"
					>
						{{ navEntry.label }}
					</a> 
				</li> 
			{% endif %}
		{% endfor %}
		</ul> 

		<a 
			href= "#page-body" 
			class= "button control-button button-close main-nav-button main-nav-button-close has-icon" 
			data-control-set= "#page-body.remove:nav-on, #page-body.remove:page-body-nav" 
		>
			<span class= "button-text">Close navigation</span> 
		</a> 
	</section> 
</nav>