<article class= "owner"> 
	<figure class= "owner-photo" style= "background-image: url( '{{ include.owner.photo }}' );"> 
		{% include image.html 
			className = "photo" 
			src = include.owner.photo 
		%} 

		<a class= "admin-panel-link" href= "https://doshky.netlify.app/admin/"><span class= "label admin-panel-link-label">Admin Panel</span></a> 
	</figure> 

	{%- comment -%}
		<!--{% include heading.html 
			level = 4 
			text = include.owner.name 
			className = "owner-heading" 
		%} --> 
	{%- endcomment -%}

	<p class= "description">{{ include.owner.description }}</p> 
</article>