{% assign head = include.head %} 
{% assign className = include.className | append: "-section" %} 

<section class= "section-head {{ className }}-head"> 
	{% include cover-image.html 
		src = head.image.src 
	%} 
	
	<section class= "text-content section-head-text-content {{ className }}-head-text-content">  
		{% include subheading.html 
			text = head.subheading 
			className = "section-subheading" 
		%} 

		{% include heading.html 
			level = 3 
			text = head.heading 
			className = "section-heading" 
		%} 

		{% for paragraph in head.paragraphs %} 
			<p class= "paragraph">{{ paragraph.text }}</p> 
		{% endfor %} 

		<a 
			class= "button control-button details-button" 
			href= "#page-body" 
			data-control-set= "body.remove:page-body-nav, body.add:content-section-on, #{{ className }}.add:section-on" 
		>
			Read More 
		</a> 
	
	</section>  
</section>