{% assign section = include.data %} 
{% assign head = section.head %}
{% assign body = section.body %} 


{% if head %} 
	<section class= "text-content"> 
	{% if head.heading %}
		<h1 class= "heading section-heading">{{ head.heading }}</h1> 
	{% endif %}

	{% if head.text %}
		{% for paragraph in head.text %} 
			<p class= "text-entry">{{ paragraph.text }}</p>
		{% endfor %}
	{% endif %}
	</section> 

	{% if head.image %} 
		{% include cover-image.html src = head.image.src data = head.image %} 
	{% endif %}
{% endif %}

{% if body %} 

	<section class= "section-body"> 
		{% include {{ body.template }} data = body.data %} 
	</section> 

{% endif %}