{% assign head = include.head %} 
{% assign className = include.className %} 

<section class= "text-content section-text-content {{ className }}-text-content">  
	{% include subheading.html 
		text = head.subheading 
		className = "section-subheading" 
	%} 

	{% include heading.html 
		level = 3 
		text = head.heading 
		className = "section-heading" 
	%} 

	{% for paragraph in head.paragraphs %} 
		<p class= "paragraph">{{ paragraph.text }}</p> 
	{% endfor %} 

	{% assign target = className %} 
	{% include details-button.html  
		target = target 
	%} 
</section> 

{% include cover-image.html 
	src = head.image.src 
%} 