{% assign section = include.data %} 

{% if section[ 1 ].head %} 
	{% assign head = section[ 1 ].head %} 	

	<section class= "text-content"> 
	{% if head.heading %}
		<h1 class= "heading section-heading">{{ head.heading }}</h1> 
	{% endif %}

	{% if head.text %}
		{% for paragraph in head.text %} 
			<p class= "text-entry">{{ paragraph.text }}</p>
		{% endfor %}
	{% endif %}
	</section> 

	{% if head.image %} 
		{% include cover-image.html data = head.image %} 
	{% endif %}
{% endif %}

{% if section[ 1 ].body %} 

	{% assign body = section[ 1 ].body %} 

	<section class= "section-body">
		{% include {{ body.template }} data = body.data %} 
	</section> 

{% endif %}