{% assign sendMessage = include.sendMessage %} 

{% include heading.html 
	level = 4 
	text = include.sendMessage.heading.text 
	className = "body-section-heading contact-section-heading" 
%} 

<form id="send-message-form" class= "gform send-message" method= "POST" action= "https://script.google.com/macros/s/AKfycbyP8VvAizXQT0Mf8ewE_l40iATNhsbI1zEp5TRiGQ/exec"> 
	<div class="thankyou_message"> 
		<!-- You can customize the thankyou message by editing the code below -->
		<p><em>Thanks</em> for contacting me! I will get back to you soon!</p> 
	</div> 

	{% for field in sendMessage.fields %} 
		{% include field.html 
			data = field 
		%} 
	{% endfor %} 

	<button 
		class= "submit-message-button g-recaptcha" 
		name= "submit-message" 
		type= "submit" 

        data-sitekey= "6LfBa9keAAAAAJiNwduYYCOLtu0XKY8SMohFgMXy" 
        data-callback= "onSubmit" 
        data-action= "submit" 
	>
		Send 
	</button>  

</form>  
