{% assign sendMessage = include.sendMessage %} 

{% include heading.html 
	level = 4 
	text = include.sendMessage.heading.text 
	className = "body-section-heading contact-section-heading" 
%} 

<form class= "gform send-message" method= "POST" action= "https://script.google.com/macros/s/AKfycbyP8VvAizXQT0Mf8ewE_l40iATNhsbI1zEp5TRiGQ/exec"> 
	{% for field in sendMessage.fields %} 
		{% include field.html 
			data = field 
		%} 
	{% endfor %} 

	<button 
		class= "submit-message-button" 
		name= "submit-message" 
		type= "submit"
	>
		Send 
	</button> 
</form>  