{% capture body %} 

	<ul class= "entry-list picture-entry-list work-section-entry-list"> 
	{% for painting in site.paintings %} 
		<li class= "entry picture-entry work-section-entry"> 
			<a 
				class= "work-section-image" 
				href= "{{ painting.image }}" 
				style= "background-image: url( '{{ painting.thumbnail }}' );" 
			>
				Painting 
			</a>
		</li>
	{% endfor %} 
	
	<!--{% for picture in include.section.body %} 
		{% assign thumbPath = picture.src | append: ".png" %} 
		<li class= "entry picture-entry work-section-entry"> 
			<a 
				class= "work-section-image" 
				href= "/assets/images/{{ picture.src }}" 
				style= "background-image: url( '/assets/images/{{ thumbPath }}' );" 
			>
				Painting 
			</a>
		</li>
	{% endfor %}--> 
	</ul> 

{% endcapture %} 

{% include section.html 
	head = include.section 
	body = body 
	className = "work-section" 
%} 