/* Sets button display */
.button { 
	display: inline-block; 

}

/*.button-open, 
.button-close { 
	display: block; 

} */

/* Defines button icon size */
.has-icon { 
	--button-icon-side: 3.2rem; 

} 

/* Sets button width to avoid expanding to full width as a block element */
/*.has-icon { 
	width: var( --button-icon-side ); 

}*/ 

/* Places out of the screen text from icon button */
.has-icon > .button-text { 
	position: absolute; left: 0; top: -10000px; 

} 

/* Button icon placeholder */
.has-icon:before { 
	/* Centers icon character inside the icon placeholder */
	display: flex; flex-direction: row; justify-content: center; align-items: center; 
	/* Sets icon holder size */
	width: var( --button-icon-side ); height: var( --button-icon-side ); 
	/* Sets icon character font and size */
	font-family: Ionicons; font-size: 1.2em; 
	/* Icon character is set through a variable */
	content: var( --button-icon-code ); 

} 

/* Sets all close buttons icon character */
.button-close { 
	--button-icon-code: "\f2d7"; 

} 

/* Sets main navigation open button character */
.main-nav-button-open { 
	--button-icon-code: "\f394"; 

} 

.button-scroll-to-top { 
	--button-icon-code: "\f10e"; 

}

/* Details button has text only, no icon */
.details-button { 
	/* Button width responds to button text */
	display: inline-block; 
	/* Centers button text vertically */
	padding-top: 1em; padding-bottom: 1em; 
	/* Gives button text distance from left and right button edges */
	padding-left: 2em; padding-right: 2em; 
	/* Shapes the button as an oval */
	border-radius: 100px; 
	border: 1px solid; 

} 

/* Defines button 'hover' effect */ 
.button:hover { 
	/* Inverts button colors */
	background-color: var( --main-color ); color: var( --light-gray-color ); 
	/* Keeps button border color the same as its background to avoid border disappearing */
	border-color: var( --main-color );  

} 