:root { 
	/* Sets main color and gives an option to specify opacity */
	/*--main-color: rgba( 94, 52, 52, var( --main-color-opacity, 1 ) ); */  
	/*--main-color-rgb: 49, 68, 71; */
	--main-color-rgb: 146, 138, 104; 
	--main-color-opacity: 1; 
	/*--secondary-color-rgb: 146, 138, 104; */ 
	--secondary-color-rgb: 49, 68, 71;
	--secondary-color-opacity: 1; 
	--main-color: rgba( var( --main-color-rgb ), var( --main-color-opacity ) ); 
	--secondary-color: rgba( var( --secondary-color-rgb ), var( --secondary-color-opacity ) ); 

	/* Sets the overlay color as the main color, with lower opacity */
	/*--main-color-opacity: 0.2; */
	--overlay-color: var( --main-color ); 

	/* Sets text color as the main color, with full opacity */
	/*--main-color-opacity: 1; */ 
	--text-color: var( --main-color ); 

	/* Sets basic light and dark grayscale colors and gives an option to specify opacity */
	--light-gray-color: rgba( 255, 255, 255, var( --light-gray-color-opacity, 0.9 ) ); 
	--dark-gray-color: rgba( 0, 0, 0, var( --dark-gray-color-opacity, 0.5 ) ); 

}

body { 
	color: var( --text-color ); 

}
