:root { 
	/* Sets main color and gives an option to specify opacity */ 
	/*--main-color: rgb(190, 121, 255); */
	--main-color: linear-gradient(to right bottom, rgb(77, 84, 209), rgb(165, 28, 123) 50%, rgb(238, 74, 55) 100%) center center; 
	/* Sets secondary color and gives an option to specify opacity */
	--secondary-color: rgb(214, 195, 233); 
	/* Sets the overlay color as the main color, with lower opacity */ 
	--overlay-color: rgba( var( --overlay-color-rgb ), var( --overlay-color-opacity ) ); 

	/* Sets text color as the main color, with full opacity */
	--text-color: var( --main-color ); 

	--button-color: rgb(101, 65, 134); 

	--light-gray-color: rgb( 201, 201, 201 ); 

}

body { 
	color: var( --text-color ); 
	background: var( --main-color ); 

} 

.page-body-holder 
/*.banner, 
.main-nav .nav, 
.section-holder */ 
{ 
	/*background: var( --section-secondary-color ); */ 
	color: var( --section-main-color ); 

} 

.button { 
	background: transparent; color: var( --section-main-color ); 

} 

.button.has-icon:hover { 
	background: var( --section-main-color ); color: var( --button-color ); 
	border-color: var( --section-main-color ); 

} 

