input, 
textarea { 
	display: block; 
	width: 14rem; 
	margin-bottom: 0.4rem; 
	border: 1px solid var( --text-color ); 
	color: var( --text-color ); 
	background-color: transparent; 

} 

input { 
	height: var( --field-height ); 

} 

textarea { 
	height: calc( 4 * var( --field-height ) ); 

}