.footer { 
	margin-bottom: var( --footer-margin-bottom ); 
	position: relative; z-index: 2; 

} 

.social-net-links { 
	margin-bottom: 0; 

}

.social-net-link { 
	display: flex; flex-direction: row; justify-content: center; align-items: center; 
	width: var( --social-net-link-size ); height: var( --social-net-link-size ); 
	margin-bottom: var( --social-net-link-margin-bottom ); 
	position: relative; 
	border: 1px solid; border-radius: 50%; 
	/* text-indent: -10000px;  */ 
	font-family: "var( --icon-font-family )"; font-size: var( --social-link-font-size ); 

} 

.copyright { 
	display: flex; flex-direction: row; align-items: center; 
	flex-wrap: wrap; 

} 

.copyright > * {  
	height: var( --copyright-height ); line-height: var( --copyright-height ); 
	padding-left: var( --copyright-member-padding-x ); padding-right: var( --copyright-member-padding-x ); 
	position: relative; 
} 

.copyright > :first-child { 
	padding-left: 0; 

}

.name { 
	font-family: var( --id-font-family );  

}