html, 
body { 
	min-height: 100%; 
}

body { 
	font-family: Arial; 
	font-size: 14px;  
	color: var( --text-color ); 
} 

/* .page { 
	min-height: 100%; 
}  */

.header { 
	box-sizing: border-box; 
	width: 20%; height: 100%; 
	position: absolute; z-index: 3; 
	left: 0; 
	background-color: var( --foreground-color ); 
	
} 

.heading { 
	font-family: var( --heading-font-family ); 
	margin-bottom: 0.25em; 

} 

.section-heading { 
	font-size: 2.5rem; 
	/* text-transform: uppercase; */

} 

.text-entry { 
	line-height: 1.2; 

}

.text-entry:not( :last-of-type ) { 
	margin-bottom: 0.5em; 
} 

.id { 
	height: var( --header-height ); 
	/* margin-right: 4rem;  */ 
	text-align: center; 

}

.id .name { 
	display: inline-block; 
	height: var( --header-height ); line-height: var( --header-height ); 
	margin-bottom: 0.5em; 
	padding-left: 0.5em; padding-right: 0.5em; 
	border: 1px solid; 
	font-family: var( --heading-font-family ); 
	font-size: 1.2em; 
	text-transform: uppercase; 

} 

.id .tagline { 
	display: none; 
	margin-top: 1.2rem; 


}

.main-nav { 
	margin-bottom: 5rem;  
	
} 

.main-nav .usability-heading { 
	display: none; 

} 

.main-nav .nav-entry-list { 
	display: flex; flex-direction: row; 

}

.main-nav .nav-button { 
	height: var( --header-height ); 
	border: none; 
	background-color: transparent; 
	color: inherit; 
	cursor: pointer;   

} 

.main-nav .nav-button:after { 
	display: block; 
	width: 75%; height: 2px; 	
	margin-top: 0.2rem; 
	content: ""; 
	background-color: var( --background-color ); 
	opacity: 0; 

} 

.main-nav .nav-entry:nth-child( 1 ) .nav-button:after { 
	opacity: 1; 

}

.header, 
.section-set .section { 	
	padding-top: 5rem; 
	
}

.section-set {
	margin-left: 50%;  
	position: absolute; z-index: 2; 
	left: 0; right: 0; top: 0; bottom: 0; 
	background-color: var( --foreground-color ); 
} 

.section-set .section { 
	max-width: 40rem; 
	padding-left: 4rem; padding-right: 4rem; 

}

.contact:not( .nav-button ) { 
	display: none; 

}

.gallery { 
	position: absolute; z-index: 1; 
	left: 0; right: 0; top: 0; bottom: 0; 
	background-color: var( --background-color ); 
} 

.gallery .random-access { 
	position: absolute; z-index: 4; left: 0; top: 0; 

}

.gallery .random-access-entry { 
	width: 5rem; padding-top: 5rem; 
	background-color: brown; 

}

.footer { 
	display: none; 
	position: absolute; left: 0; top: 0; 

}