.nav-entry-list { 
	--column-count: 2; 
	--column-gutter-count: calc( var( --column-count ) - 1 ); 
	--column-gutter-x: 0.2rem; 
	--column-gutter-y: var( --column-gutter-x ); 

	--column-width: calc( ( 100% - var( --column-gutter-count ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
} 

.nav-entry-list { 
	display: flex; flex-direction: row; flex-wrap: wrap; 

} 

.nav-entry-list > * { 
	/* width: var( --column-width );  */
	margin-right: var( --column-gutter-x ); 
	/* margin-top: var( --column-gutter-y );  */ 

} 

html, 
body { 
	min-height: 100%; 
}

body { 
	font-family: Arial; 
	font-size: 14px;  
	color: var( --text-color ); 
} 

/* .page-set { 
	display: none; 

} */

button { 
	display: block; 
	border: none; 
	background-color: transparent; 
	color: var( --foreground-color );  

}

/* .page { 
	min-height: 100%; 
}  */ 

.heading { 
	font-family: var( --heading-font-family ); 
	margin-bottom: var( --heading-margin-bottom ); 

} 

.section-heading { 
	font-size: var( --section-heading-font-size ); 
	/* text-transform: uppercase; */

} 

.text-entry { 
	line-height: 1.2; 

}

.text-entry:not( :last-of-type ) { 
	margin-bottom: 0.5em; 
} 

.id .cover-image { 
	/* display: none;  */
	/* width: 100%; height: 100%;  */ 
	/* padding-top: 4rem;  */ 
	/* position: absolute; left: 0; top: 0;  */
	background-color: var( --background-color ); 
	background-position: center center; background-size: cover; 

} 

.cover-image img { 
	display: none; 

} 

.index-link { 
	/* align-self: flex-start;    */
	display: block; 

}

.id { 
	width: 8rem; height: 4rem;  
	/* width: 100%;  */
	/* padding-left: 4rem; padding-right: 4rem;  */
	/* position: relative; z-index: 2;  */
	/* height: var( --id-height );  */
	/* margin-right: 4rem;  */ 
	text-align: center; 

}

.id .name { 
	display: inline-block;  
	/* margin-bottom: 0.5em;  */
	padding-left: 0.5rem; padding-right: 0.5rem; 
	/* border: 1px solid;  */
	background-color: var( --background-color ); 
	font-family: var( --heading-font-family ); 
	font-size: 1.2em; 
	text-transform: uppercase; 

} 

.id .tagline { 
	display: none; 
	margin-top: 1.2rem; 


}

.main-nav .nav-entry-list { 
	/* --column-count: 1;
	--column-gutter-x: 0rem; 
	--column-gutter-y: 0.2rem;	 */

	margin-bottom: 1.25rem; 
	margin-left: calc( -1 * var( --nav-button-padding-x ) ); 
	
} 

.nav-entry-list > :last-child { 
	margin-right: 0; 

} 

.nav-entry { 
	margin-top: 0; 

}

.usability-heading { 
	display: none; 

} 

/* .main-nav .nav-button {  
	width: 100%; 
	height: var( --id-height ); 
	padding-left: var( --nav-button-padding-x ); padding-right: var( --nav-button-padding-x ); 
	border: none; 
	background-color: var( --background-color ); 
	color: inherit; 
	cursor: pointer;   

}  */

/* .main-nav .nav-button:after { 
	display: block; 
	width: 75%; height: 2px; 	
	margin-top: 0.2rem; 
	content: ""; 
	background-color: var( --background-color ); 
	opacity: 0; 

} 

.main-nav .nav-entry:nth-child( 1 ) .nav-button:after { 
	opacity: 1; 

}  */

.header, 
.page-set .section { 
	padding-top: var( --header-margin-top ); 

}

.header .name, 
.main-nav .nav-button { 	
	display: flex; flex-direction: column; justify-content: center; 
	height: var( --id-height ); line-height: var( --id-height ); 	
	
} 

/* .lSSlideOuter, .lSSlideWrapper, .page-set { 
	position: absolute; z-index: 2; 
	left: 0; right: 0; top: 0; bottom: 0; 

} */ 

.page-set { 
	box-sizing: border-box; 
	/* display: none;  */
	/* width: 100%;  */
	height: 100%; 
	/* padding-left: 50%;  */
	/* margin-left: 50%;   */ 
	position: absolute; z-index: 2; 
	left: 50%; right: 0; top: 0; bottom: 0; 
	background-color: var( --background-color ); 
} 

.page-set .section { 
	/* padding-left: 50%;  */ 
	/* max-width: 40rem; 
	padding-left: 4rem; padding-right: 4rem;  */
	/* background-color: var( --background-color );  */

} 

.header { 
	/* display: flex; flex-direction: column; align-items: center;  */ 
	box-sizing: border-box; 
	width: 25%; min-width: 8rem; 
	/* max-width: 10rem;  */ 
	height: 100%; 
	padding-left: 1.25rem; padding-right: 1.25rem; 
	position: absolute; z-index: 3;  
	left: 0; top: 0; 
	background-color: var( --background-color ); 
	
}

.section .text-content { 
	max-width: 40rem; 
	padding-left: 4rem; padding-right: 4rem; 

} 

.section .cover-image { 
	width: 50%; height: 100%; 
	position: absolute; right: 100%; top: 0; 
	background-color: var( --background-color ); 

}

.page-set .section { 
	display: none; 

} 

.page-set .section.section-current { 
	display: block; 

} 

/* .page-set .current .nav-button:after { 
	opacity: 1; 

} */ 
 
body.ui-hidden .page-set { 
	

}

.switch-gallery-button { 
	height: var( --id-height ); 
	margin-top: var( --header-margin-top ); 
	position: absolute; z-index: 4; 
	right: 100%; 
	white-space: nowrap; 

}

.gallery { 
	display: none; 
	position: absolute; z-index: 1; 
	left: 0; right: 0; top: 0; bottom: 0; 
	background-color: var( --background-color ); 
} 

.random-access { 
	/* display: none;  */

}

.gallery .random-access { 
	display: none; 
	width: 70rem; height: 10rem; 
	position: absolute; z-index: 10; left: 0; top: 0; 
	background-color: brown; 

} 

.random-access { 
	display: flex; flex-direction: row; 
	display: none; 
	width: 100%; 
	position: absolute; z-index: 4; 
	bottom: 0; margin-bottom: 0.8rem; 

}

.random-access-entry {  
	display: block;  
	width: 10%; padding-top: 10%; 
	margin-right: 0.5rem; 
	border: 1px solid var( --foreground-color ); 
	background-color: var( --background-color ); 

}

.footer { 
	display: none; 
	position: absolute; left: 0; top: 0; 

}