.header { 
	box-sizing: border-box; 
	padding: 0.5em; 
	overflow: hidden; 

} 

.index-link, 
.header-line { 
	margin-left: auto; margin-right: auto; 

} 

.header .name, 
.section-holder .name, 
.id .logo { 
	position: absolute; left: -10000px; top: -10000px; 

} 

.index-link { 
	display: block; 
	width: var( --logo-width ); height: var( --logo-height ); 
	background-size: contain; background-position: center; background-repeat: no-repeat; 

} 

.header-line { 
	margin-top: 0.5em;  
	max-width: var( --page-inner-width ); 
	/*position: absolute; bottom: 0;  */ 
	border-bottom: 1px solid; border-color: var( --section-main-color ); 

} 
