.image-preview-list { 
	display: flex; flex-direction: row; justify-content: flex-end; flex-wrap: wrap;    
	/* width: 100%;   */ 
	position: relative; z-index: 2; 
	/* position: fixed; bottom: 2rem;  */ 
	/* overflow: auto;  */ 

} 

/* .image-preview-list:after { 
	display: block; 
	width: 0; height: 0; overflow: hidden; 
	clear: both; 
	content: ""; 

} */

.image-preview-entry { 
	/* float: left;  */ 
	width: var( --column-width ); padding-top: calc( 0.5 * var( --column-width ) );   
	/* margin-right: var( --column-gutter-x );  */ 
	background-color: var( --background-color );  
	margin-top: var( --column-gutter-y ); 
	position: relative; 
	opacity: 0.95; 

} 

.image-preview-entry + .image-preview-entry { 
	margin-left: var( --column-gutter-x );  

} 

.image-preview { 
	display: block; 
	/* width: 100%; height: 100%;  */
	position: absolute; left: 0; right: 0; top: 0; bottom: 0; 
	background-position: center; background-size: cover; 
	background-clip: content-box; 
	border: 0.7rem solid transparent; 
	opacity: 0.2; 

} 

.image-preview:hover { 
	opacity: 1; 

} 

@media ( min-width: 1081px ) { 

	.image-preview-list { 
		--column-count: 5; 

	} 

	.image-preview-entry:nth-child( -n + 5 ) { 
		margin-top: 0; 

	}

	.image-preview-entry:nth-child( 5n + 1 ) { 
		margin-left: 0; 

	} 

} 

@media ( max-width: 1080px ) and ( min-width: 721px ) { 

	.image-preview-list { 
		--column-count: 4; 

	} 

	.image-preview-entry:nth-child( -n + 4 ) { 
		margin-top: 0; 
	
	} 

	.image-preview-entry:nth-child( 4n + 1 ) { 
		margin-left: 0; 
	
	} 

} 

@media ( max-width: 840px ) { 

	.image-preview-list { 
		justify-content: flex-start; 
	}

}

@media ( max-width: 720px ) { 

	.image-preview-list { 
		--column-count: 3; 

	} 

	.image-preview-entry:nth-child( -n + 3 ) { 
		margin-top: 0; 
	
	} 

	.image-preview-entry:nth-child( 3n + 1 ) { 
		margin-left: 0; 
	
	} 

}