.page-holder { 
	height: 0; overflow: hidden; 

}

.banner-entry { 
	--banner-entry-element-end-opacity: 1; 
	--banner-entry-element-start-translate-y: 100px; 

} 

/* Common animation parameters */
.banner-entry > * { 
	opacity: 0;  
	animation-duration: 0.5s; animation-fill-mode: forwards; 

} 

/* Animating all elements, except 'header', relies on 'translate' */
.banner-entry > :not( .header ) { 
	transform: translateY( var( --banner-entry-element-start-translate-y ) ); 
	animation-name: element-fade-in, element-translate-up; 

} 

/* 'Header' relies on relative positioning and animating 'top' property 
to avoid parent 'transform' and descendant 'fixed' positioning incompatibility */
.banner-entry > .header { 
	position: relative; 
	top: var( --banner-entry-element-start-translate-y ); 
	animation-name: element-fade-in, element-move-up; 
	
} 

@keyframes element-translate-up { 

	100% { 
		transform: translateY( 0 ); 

	}

} 

@keyframes element-move-up { 

	100% { 
		top: 0; 

	}

} 

@keyframes element-fade-in { 

	100% { 
		opacity: var( --banner-entry-element-end-opacity ); 

	}

} 

.banner-entry > .cover-image { 
	--banner-entry-element-end-opacity: 0.8; 

}

.banner-entry > .cover-image { 
	animation-delay: 0.2s; 

}

.banner-entry > .header { 
	transform: none; 
	animation-delay: 0.5s; 

}

.banner-text-content { 
	animation-delay: 0.8s; 

} 