.banner {
  --banner-entry-element-end-opacity: 1;
  --banner-entry-element-start-translate-y: 100px;
  --header-element-end-translate-y: 40vh;
}

.banner .cover-image {
  --banner-entry-element-end-opacity: 0.1;
}

/***************************************************************************
* Banner open animation 
*/
/***************************************************************************
* Header animation 
*/
/*************************************************************************** 
* Text content animation 
*/
/***************************************************************************
* Banner close animation 
*/
/***************************************************************************
* Cover image animation 
*/
/*.banner { 
	color: white; 
	background-color: var( --main-color ); 

} */
.page-body-holder,
.banner,
.main-nav .nav,
.section-holder {
  background-color: var(--section-secondary-color);
  color: var(--section-main-color);
}

.page-body-holder,
.main-banner {
  --section-main-color: var( --main-color );
  --section-secondary-color: var( --secondary-color );
}

.banner-intro {
  --section-main-color: var( --secondary-color );
  --section-secondary-color: var( --main-color );
}

.main-nav .nav {
  --section-main-color: var( --secondary-color );
  --section-secondary-color: var( --main-color );
}

.section-holder {
  --section-main-color: var( --main-color );
  --section-secondary-color: var( --secondary-color );
}

.button {
  background-color: transparent;
  color: var(--section-main-color);
}

.button:hover {
  background-color: var(--section-main-color);
  color: var(--section-secondary-color);
}

.banner-intro {
  transform: translateY(-100%);
}

.banner.main-banner {
  top: -10000px;
}

.header {
  position: relative;
  overflow: visible;
}

.header-line {
  width: var(--page-inner-width);
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid;
  border-color: var(--section-main-color);
}

.banner-intro .cover-image {
  display: none;
}

.banner-intro .header > * {
  opacity: 0;
}

.main-banner .cover-image,
.banner-intro .banner-text-content > * {
  transform: translateY(100px);
  opacity: 0;
}

/* Common animation parameters */
.banner-intro,
.banner-intro .banner-text-content > *,
.main-banner,
.main-banner .cover-image,
.banner-intro .header > * {
  animation-fill-mode: forwards;
}

.banner-intro .header > * {
  animation-name: element-fade-in, element-bounce;
}

.banner-intro .header > :nth-child(1) {
  animation-duration: 0.2s, 0.8s;
}

.banner-intro .header > :nth-child(2) {
  animation-duration: 0.2s, 1s;
}

.banner-intro .header > :nth-child(2) {
  animation-delay: 1.35s;
}

.banner-intro .header > :nth-child(1) {
  animation-delay: 1.45s;
}

.main-banner .cover-image,
.banner-intro .banner-text-content > * {
  animation-name: element-fade-in, element-translate-reset;
  animation-duration: 0.2s, 0.2s;
}

.banner-intro .banner-text-content > :nth-child(1) {
  animation-delay: 2.05s;
}

.banner-intro .banner-text-content > :nth-child(2) {
  animation-delay: 2.1s;
}

.banner-intro .banner-text-content > :nth-child(3) {
  animation-delay: 2.15s;
}

.banner-intro .banner-text-content > :nth-child(4) {
  animation-delay: 2.2s;
}

.banner-intro .banner-text-content > :nth-child(5) {
  animation-delay: 2.25s;
}

.main-banner .cover-image {
  animation-duration: 0.4s;
  animation-delay: 3.25s;
}

.banner-intro {
  animation-name: element-translate-reset, element-fold;
  animation-duration: 0.5s;
  animation-delay: 0.7s, 2.75s;
}

.main-banner {
  animation-name: element-on;
  animation-duration: 0.05s;
  animation-delay: 2.55s;
}

@keyframes element-on {
  100% {
    top: 0;
  }
}
@keyframes element-unfold {
  100% {
    height: 100vh;
  }
}
@keyframes element-fold {
  100% {
    height: 0;
  }
}
@keyframes element-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes element-translate-down {
  100% {
    transform: translateY(var(--header-element-end-translate-y));
  }
}
@keyframes element-translate-reset {
  100% {
    transform: translateY(0);
  }
}
@keyframes element-move-up {
  100% {
    top: 0;
  }
}
@keyframes element-fade-in {
  100% {
    opacity: var(--banner-entry-element-end-opacity);
  }
}

/*# sourceMappingURL=intro-animation.css.map */
