.intro { 
	--logo-icon-width: 8rem; 
	--logo-icon-height: var( --logo-icon-width ); 

	--slide-distance: 200px; 

	--background-color:#C18C5D; 
	--foreground-color:  #061826; 

	--fade-in-duration: 0.05s; 
	--slide-up-duration: 0.25s; 
	--slide-down-duration: 0.175s; 

	--icon-in-delay: 1.2s; 
	--icon-slide-up-delay: var( --icon-in-delay ); 
	--icon-slide-down-delay: calc( var( --icon-in-delay ) + var( --slide-up-duration ) ); 

	--block-in-relative-delay: 0.1s; 
	--block-in-delay: calc( var( --icon-in-delay ) + var( --block-in-relative-delay) ); 
	--block-slide-down-delay: calc( var( --block-in-delay ) + var( --slide-down-duration) ); 

	--logo-in-delay: var( --icon-slide-down-delay ); 

	

	/* --intro-animation-start-delay: 0.5s;  */

	/* --block-in-relative-delay: 2.5s; 
	--head-block-in-delay: calc( var( --intro-animation-start-delay ) + var( --block-in-relative-delay ) ); 
	--head-block-fade-in-duration: 0.2s; 
	--head-block-slide-down-delay: calc( var( --head-block-in-delay ) + var( --head-block-fade-in-duration ) ); 
	--head-block-slide-down-duration: 0.2s; 

	--logo-icon-slide-down-relative-delay: 0s; 
	--logo-icon-slide-down-delay: calc( var( --logo-icon-slide-down-relative-delay ) + var( --head-block-slide-down-delay ) + var( --head-block-slide-down-duration ) );
	--logo-icon-slide-down-duration: 0.2s; 
	--logo-icon-slide-up-delay: calc( var( --logo-icon-slide-down-delay ) + var( --logo-icon-slide-down-duration ) ); 
	--logo-icon-slide-up-duration: 0.2s;  */

	
} 

@font-face { 
	src: url( './fonts/impact.ttf' ); 
	font-family: Impact; 
	
} 

@font-face { 
	src: url( './fonts/ionicons.ttf' ); 
	font-family: IonIcons; 
	
} 

/* .intro-wrapper, 
.logo-icon { 
	background-position: center; background-size: contain; background-repeat: no-repeat; 
}  */

.intro { 
	width: 100%; height: 100%; 
    /* position: absolute; left: 0; top: 0;    */ 
	z-index: 5; 
	background-color: var( --foreground-color ); 
	overflow: hidden;  
} 

.intro-wrapper { 
	width: 100%; min-height: 100%;  
    position: relative; 
	background-color: var( --background-color ); 
	/* background-image: url( "/assets/images/logo-02-icon.png" ); background-size: auto;  */ 
	/* opacity: 0;  */ 
}

.intro-head, 
.intro-body { 
	box-sizing: border-box; 
	position: absolute; 
	width: 100%; min-height: 50%;  

} 

.intro-head { 
    display: flex; flex-direction: column; justify-content: center; 

} 

.intro-head .intro-content { 
	max-width: 960px;   
	margin-left: auto; margin-right: auto; 
	text-align: center; 
	
}  

.intro-head {  
    top: 0; 
	padding-bottom: var( --head-border-width ); 
	color: var( --foreground-color ); 
} 

.intro-body { 
    top: 50%; 
    z-index: 2; 

} 

/* .intro-head > * { 
    position: relative; z-index: 3; 

} */

/* .intro-head-block { 
	transform: translateY( 100% ); 
	opacity: 0; 
}  */ 

.intro-head-block-heading {  
	margin-bottom: 0.2rem; 
} 

.intro-head-block-heading, 
.after-message, 
.intro-body-message { 
	text-transform: uppercase; 
} 

.intro-head-block-heading, 
.intro-body-message { 
	font-family: Impact; font-size: 2rem; 
}

.intro-head-block-text { 
	font-family: Arial; font-size: 0.75rem; text-transform: uppercase; 
} 

.after-message-holder { 
	margin-top: -5rem; margin-bottom: 2.5rem;  
	/* opacity: 0;  */ 
}

.after-message {  
	padding: 0.85rem; 
	border: 1px solid; 
	font-family: Arial; 
	font-size: 0.85rem; 
} 

.intro-body-message { 
	display: inline-block; 
	padding-top: 0.85rem; padding-bottom: 1rem;  
	margin-top: 1.5rem; 
	position: relative; 
	font-family: Arial; 
	font-size: 0.8rem; 
} 

/* .intro-body-icon { 
	width: auto; 
	padding-top: 1rem; padding-bottom: 1rem; 
	
}  */ 

.intro-body-icon { 
	width: auto; 
	padding-top: 1.5rem; padding-bottom: 1.5rem; 
	background-color: var( --foreground-color ); 
	/* transform: translateY( -50% );  */ 

}

.logo-icon { 
	display: block; 
	margin-left: auto; margin-right: auto; 
	width: var( --logo-icon-width ); height: var( --logo-icon-height ); 
	position: relative; 
	background-image: url( "/assets/images/logo-icon.png" ); background-position: center; background-size: contain; 
} 

.intro-content { 
	--slide-up-start-value: 50px; 
	--slide-up-end-value: -25px; 
	--slide-down-end-value: 0; 

}

/* .after-message-holder { 
	--slide-up-start-value: 100%; 
	--slide-up-end-value: 0; 

}  */

/* .intro-head-block { 
	--slide-up-start-value: 100%; 
	--slide-up-end-value: 0; 

} */

.intro-body-icon { 
	--slide-up-start-value: 100%; 
	--slide-up-end-value: -80%; 
	--slide-down-end-value: -50%; 

} 

.logo-icon { 
	--slide-up-start-value: 50%; 
	--slide-up-end-value: 0; 
	--slide-down-end-value: 0; 
	--slide-down-duration: 0.15s; 
	--fade-in-duration: 0.15s; 

} 

.intro-wrapper { 
	opacity: 0; 

}

.after-message-holder, 
.intro-head-block, 
.intro-body-icon, 
.logo-icon { 
	opacity: 0; 
	transform: translateY( var( --slide-up-start-value ) ); 

} 

/* .logo-icon { 
	transform: none;  

} */


.section-current .intro-wrapper, 
.section-current .intro-head-block, 
.section-current .after-message-holder, 
.section-current .intro-body-icon, 
.section-current .logo-icon { 
	animation-fill-mode: forwards;	
} 

.section-current .intro-wrapper { 
	animation-name: fade-in; animation-duration: 0.7s; animation-delay: 0.5s; 

}

.section-current .intro-body-icon, 
.section-current .intro-head-block, 
.section-current .after-message-holder { 
	animation-name: fade-in, icon-slide-up, icon-slide-down; 
	animation-duration: var( --fade-in-duration ), var( --slide-up-duration ), var( --slide-down-duration ); 

} 

.section-current .intro-body-icon { 
	animation-delay: var( --icon-in-delay ), var( --icon-in-delay ), var( --icon-slide-down-delay ); 

}

.section-current .intro-head-block, 
.section-current .after-message-holder { 
	animation-delay: var( --block-in-delay ), var( --block-in-delay ), var( --block-slide-down-delay ); 

} 

.section-current .logo-icon { 
	animation-name: fade-in, icon-slide-up; animation-duration: var( --fade-in-duration ), var( --slide-down-duration ); animation-delay: var( --logo-in-delay ); 

} 


@keyframes icon-slide-up { 

	0% { 
		transform: translateY( var( --slide-up-start-value ) ); 
	}

	100% { 
		transform: translateY( var( --slide-up-end-value ) ); 
	}
	
}  

@keyframes icon-slide-down { 

	100% { 
		transform: translateY( var( --slide-down-start-value ) ); 
	}

	100% { 
		transform: translateY( var( --slide-down-end-value ) ); 
	}
	
}

@keyframes fade-in { 

	100% { 
		opacity: 1; 
		
	}
	
} 

@keyframes fade-out { 

	100% { 
		opacity: 0; 
		
	}
	
} 

