.intro { 
	--hex-holder-width: 100px; 
	--hex-holder-height: var( --hex-holder-width ); 
	--hex-icon-size: calc( 0.585 * var( --hex-holder-height ) ); 
	--system-holder-width: 70px; 
	--system-holder-height: 61px;
	--system-icon-size: calc( 0.7 * var( --system-holder-height ) ); 
	--background-color:#C18C5D; /* #F0E68C */
	--foreground-color:  #061826; /* #3A405A; */ /* #323232 */
	
	--head-border-width: calc( var( --hex-holder-height ) / 2 ); 
	
	--head-background-hex-cross-pos: 150px; 
	--head-background-pull-up-duration: 0.4s; 
	--head-background-pull-up-delay: 0.2s; 
	
	--hex-in-delay: calc( var( --head-background-pull-up-delay ) + 0.8 * var( --head-background-pull-up-duration ) ); 
	--hex-fade-in-duration: 0.075s; 
	--hex-slide-up-duration: 0.2s; 
	--icon-slide-up-duration: 0.2s; 
	--icon-fade-in-duration: 0.075s; 
	--icon-in-start-relative-delay: 0.075s; 
	--icon-in-relative-delay: 0.07s; 

	--icon-in-start-delay: calc( var( --hex-in-delay ) + var( --icon-in-start-relative-delay ) ); 
	--icon-immune-in-delay: calc( var( --icon-in-start-delay ) + 0 * var( --icon-in-relative-delay ) ); 
	--icon-cardio-in-delay: calc( var( --icon-in-start-delay ) + 1 * var( --icon-in-relative-delay ) ); 
	--icon-respiratory-in-delay: calc( var( --icon-in-start-delay ) + 2 * var( --icon-in-relative-delay ) ); 
	--icon-neural-in-delay: calc( var( --icon-in-start-delay ) + 3 * var( --icon-in-relative-delay ) ); 
	--icon-skeletal-in-delay: calc( var( --icon-in-start-delay ) + 4 * var( --icon-in-relative-delay ) ); 
	
	--block-in-relative-delay: -0.5s;  
	--block-fade-in-duration: 0.25s; 
	--block-slide-up-duration: 0.25s; 
	--block-in-delay: calc( var( --icon-skeletal-in-delay ) + var( --icon-slide-up-duration ) + var( --block-in-relative-delay ) ); 
	
	
	--logo-fade-in-duration: 0.075s; 
	--logo-slide-down-duration: 0.2s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-delay: calc( var( --block-in-delay ) + var( --block-slide-up-duration ) + var( --logo-in-relative-delay ) ); 
	
} 

@font-face { 
	src: url( './fonts/impact.ttf' ); 
	font-family: Impact; 
	
} 

@font-face { 
	src: url( './fonts/ionicons.ttf' ); 
	font-family: IonIcons; 
	
}

.intro { 
	width: 100%; height: 100%; 
    position: fixed; z-index: 5; 
	background-color: var( --background-color );  
	overflow: auto; 
} 

.intro-wrapper { 
	width: 100%; min-height: 100%;  
    position: relative; 
}

.intro-head, 
.intro-body { 
	box-sizing: border-box; 
    display: flex; flex-direction: column; justify-content: center; 
	position: absolute; 
	width: 100%; min-height: 50%;  

} 

.intro-content { 
	max-width: 960px;   
	margin-left: auto; margin-right: auto; 
	text-align: center; 
	
} 

.intro-body-icon { 
	margin-left: auto; margin-right: auto; 
}

.intro-head {  
    top: 0; 
	padding-bottom: var( --head-border-width ); 
	color: var( --background-color ); 
} 

.intro-body { 
    top: 50%; 
    z-index: 2; 

} 

.intro-head > * { 
    position: relative; z-index: 2; 

}

.intro-head:after { 
	display: block; 
	width: 100%; height: 200%; 
	position: absolute; left: 0; top: 0; z-index: 1; 
	background-color: var( --foreground-color );
	transform: translateY( -100% ); 
	content: ""; 
} 

.intro-head-block { 
	transform: translateY( 100% ); 
	opacity: 0; 
} 

.intro-head-block-heading {  
	margin-bottom: 0.2rem; 
} 

.intro-head-block-heading, 
.after-message, 
.intro-body-message { 
	text-transform: uppercase; 
} 

.intro-head-block-heading, 
.intro-body-message { 
	font-family: Impact; font-size: 2rem; 
}

.intro-head-block-text { 
	font-family: Arial; font-size: 0.75rem; text-transform: uppercase; 
} 

.after-message-holder { 
	margin-top: -5rem; margin-bottom: 2.5rem;  
	opacity: 0; 
}

.after-message {  
	padding: 0.85rem; 
	border: 1px solid; 
	font-family: Arial; 
	font-size: 0.85rem; 
} 


.intro-body-message {  
	/* padding-top: 2rem;  */ 
	border: none;  
	font-family: Impact;  
	color: var( --foreground-color );  
	transform: translateY( 25px ); 
	opacity: 0; 

} 

.intro-body-message { 
	display: inline-block; 
	padding-top: 0.85rem; padding-bottom: 1rem;  
	margin-top: 1.5rem; 
	position: relative; 
	font-family: Arial; 
	font-size: 0.8rem; 
} 

/* .intro-body-message:before { 
	display: block; 
	margin-bottom: 0.2rem; 
	content: "\f474"; 
	font-family: IonIcons; 
	font-size: 1.25rem; 

} */

.intro-body-icon { 
	position: absolute; top: calc( -1 * var( --head-border-width ) ); 

}

.intro-body-icon:before {
	display: flex; align-items: center; justify-content: center; 
	font-family: IonIcons; font-size: 8rem; 
	content: "\f2fc"; 
	color: var( --foreground-color ); 
	text-shadow: 0 0 2px var( --background-color ); 
} 

.intro-body-content { 
	height: 100%; 
	/* margin-top: calc( -1 * var( --head-border-width ) );  */  
} 

.intro-body-icon { 
	display: flex; align-items: center; justify-content: center; 
	margin-bottom: 0.475rem; 
}

.intro-body-icon { 
	width: var( --hex-holder-width ); height: var( --hex-holder-height );  
	width: 100%; 
	/* background-image: url( './icons/hex.png' );  */ 
	transform: translateY( 150px ); 
	opacity: 0; 
} 

.intro-body-icon:before { 
	width: var( --hex-icon-size ); height: var( --hex-icon-size ); 
} 


.intro, .intro-body, .intro-body-icon, .intro + *, 
.intro-head:after, .intro-head-content, .intro-head-block, 
.after-message-holder, .after-message, .intro-body-message { 
	animation-fill-mode: forwards;	
} 

.intro-head:after { 
	animation-name: pull-up; animation-duration: var( --head-background-pull-up-duration ); animation-delay: var( --head-background-pull-up-delay ); animation-timing-function: ease; 
	
} 

.intro-body-icon { 
	animation-name: fade-in, slide-up; animation-duration: var( --hex-fade-in-duration ), var( --hex-slide-up-duration ); animation-delay: var( --hex-in-delay ); 
	
} 

.intro-head-block { 
	animation-name: fade-in, slide-up; animation-duration: var( --block-fade-in-duration ), var( --block-slide-up-duration ); animation-delay: var( --block-in-delay ); 
	
}

.after-message-holder { 
	animation-name: fade-in, slide-down; animation-duration: var( --logo-fade-in-duration ), var( --logo-slide-down-duration ); animation-delay: var( --logo-in-delay ); 
	
} 

.intro-body-message { 
	animation-name: fade-in, slide-up; animation-duration: var( --icon-fade-in-duration ), var( --icon-slide-up-duration ); animation-delay: var( --icon-in-start-delay ); 
    animation-delay: calc( var( --icon-in-start-delay ) + 0.125s );
} 

.intro { 
    animation-name: close-up; animation-duration: 0.4s; animation-delay: calc( var( --icon-in-start-delay ) + 4s ); 

} 

.intro + * {
    animation-name: set-into-view; animation-duration: 0.0005s; animation-delay: calc( var( --icon-in-start-delay ) + 4s + 0.4s ); 
}


@keyframes pull-up { 

	80% { 
		transform: translateY( calc( -50% + 150px ) ); 
	}

	100% { 
		transform: translateY( -50% ); 
	}
	
} 

@keyframes slide-up { 

	100% { 
		transform: translateY( 0 ); 
	}
	
} 

@keyframes fade-in { 

	100% { 
		opacity: 1; 
		
	}
	
} 

@keyframes slide-down { 

	100% { 
		margin-top: 0; 
		
	}
	
} 

@keyframes close-up { 

	100% { 
		transform: translateY( -100% ); 
	}
	
} 

@keyframes set-into-view { 

	100% { 
		position: initial; 
	}
	
} 