html, 
body, 
.page, 
.page-set, 
.section { 
	width: 100%; height: 100%;  
} 

body { 
	overflow: hidden; 

} 

.page { 
	position: absolute; 
	
}

.section { 
	overflow-y: scroll; 

} 

.page-set { 
	position: absolute; top: 100%; left: -10000px; 
	z-index: 1; 
} 

.section-main { 
	min-height: 100%;  

}

/* html:after { 
	display: block; 
	position: fixed; left: 0; right: 0; top: 0; bottom: 0; 
	background: url( "/assets/images/pexels-free-creative-stuff-1193879.jpg" ) center center no-repeat fixed; 
	background-size: cover; 
	content: ""; 

}  */ 

/* .entry-list > :last-child { 
	margin-right: 0; 

} */

button, 
.nav-button { 
	display: block; 
	height: var( --button-height ); line-height: var( --button-height );  
	border: none;  
} 

.section-main { 
	overflow: hidden; 

}

.cover-image { 
	width: 100%; height: 100%; 
	position: absolute; 

} 

.cover-image img { 
	display: block; 
	min-width: 100%; min-height: 100%; 
	position: absolute; 
	left: 50%; top: 50%; transform: translate( -50%, -50% ); 
	
} 