.main-nav { 
	/*width: 0; height: 0; */
	/*overflow: hidden; */

} 

.main-nav .nav { 
	/*display: flex; flex-direction: column; justify-content: center; align-items: center; */ 
	width: 100%; height: 100%; 
	/*position: fixed; left: 0; */ 
	position: relative; 
	z-index: 3; 
	/*background-color: var( --light-gray-color ); */ 
	/*background-color: var( --main-color ); color: var( --light-gray-color ); */ 
	/*color: #555; */ 
	overflow-y: auto;  

} 

.main-nav-button-close { 
	margin-left: 1.5em; margin-top: 1.5em; 
	position: absolute; left: 0; top: 0; 
	/*top: 50%; margin-top: calc( -1 * var( --button-icon-side ) / 2 );  */ 
	/*background-color: var( --main-color ); color: var( --light-gray-color ); */ 

} 

.main-nav .nav-entry-list { 
	/*flex-direction: column; */ 
	justify-content: center; align-items: center; 
	width: 100%; height: 100%; 
	/*padding-left: 10rem; padding-right: 10rem; */ 
	/*padding-top: 5em; padding-bottom: 5em; */ 

}

.main-nav .nav-entry { 
	box-sizing: border-box; 
	/*height: 10rem; */ 
	/*width: 25%; max-width: 10rem; height: 100%; */ 
	/*max-width: 20rem; */ 
	width: 20%; height: 25%; 
	/*padding-top: 20%; height: 0; */ 
	/*width: 50%; */ 
	/*height: calc( ( 100% - 2 * 2em ) / 3 ); */ 
	position: relative; 
	/*background-color: var( --section-main-color ); */ 
	/*background-image: url( "/assets/images/303-3035876_transparent-sexy-woman-silhouette-png-transparent-elegant-woman-button.png" ); background-size: contain; background-repeat: no-repeat; background-position: center; */
	/*border: 1px solid; border-radius: 12px; */ 
	/*font-family: var( --main-nav-font-family ); font-size: var( --main-nav-font-size ); */  

} 

.main-nav .nav-entry::after { 
	box-sizing: border-box; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; 
	z-index: -1; 
	border: 1px solid; border-radius: 12px; 
	content: ""; 
	opacity: 0.25; 

}

.main-nav .nav-entry + .nav-entry { 
	margin-left: 1em; 
	/*margin-top: 1em; */ 
	/*border-top: 1px solid; */
	/*border-left: 1px solid; */

} 

@media screen and ( max-width: 1180px ) { 
	.main-nav .nav-entry-list { 
		flex-direction: column; flex-wrap: nowrap; 
		padding-top: 2.5em; padding-bottom: 2.5em; 
	
	} 

	.main-nav .nav-entry { 
		width: 80%; max-width: 20rem; 
	
	} 

	.main-nav .nav-entry + .nav-entry { 
		margin-left: 0; margin-top: 1em; 
	
	}

} 

.main-nav .nav-link { 
	box-sizing: border-box; 
	display: flex; flex-direction: row; justify-content: center; align-items: flex-end; 
	max-width: none; width: 100%; height: 100%; 
	border-bottom: 2em solid transparent; 
	background-position: center center; 
	position: absolute; top: 0; 

} 

.main-nav .nav-entry:nth-child( 1 ) > .nav-link { 
	background-image: url( "../images/woman-writer-27083216-button.png" ); 
	
} 

.main-nav .nav-entry:nth-child( 2 ) > .nav-link { 
	background-image: url( "../images/303-3035876_transparent-sexy-woman-silhouette-png-transparent-elegant-woman-button.png" ); 
	
} 

.main-nav .nav-entry:nth-child( 3 ) > .nav-link { 
	background-image: url( "../images/Woman-Writing-button.png" ); 
	
} 

.main-nav .nav-link:active .nav-link-text, 
.main-nav .nav-link:focus .nav-link-text { 
	z-index: 1; 

}

/*.main-nav .nav { 
	border-left: 1px solid; 
	top: -10000px; 
	transform: translateX( 100% ); 

} 

.main-nav:target .nav { 
	top: 0; 
	transform: translateX( 0 ); 
	transition: transform 0.5s 0.4s; 

} */ 

/*.main-nav .nav-entry-list { 
	transform: rotateZ( -90deg ); 

} */

.main-nav .nav-link-text { 
	display: block; 
	height: 2em; 
	position: absolute; top: 100%; 
	/*z-index: -1; */ 
	/*font-weight: bold; */ 
	/*transform: rotateZ( -90deg ); */ 

}

/*.main-nav .nav-entry { 
	transform: translateX( 100% ); 
	opacity: 0; 

}*/ 

/*body.nav-on .main-nav .nav-entry { 
	transform: translateX( 0 ); 
	opacity: 1; 
	transition-property: opacity, transform; transition-duration: 0.2s; 

} 

body.nav-on .nav-entry:nth-child( 1 ) { 
	transition-delay: 0.4s;

} 

body.nav-on .nav-entry:nth-child( 2 ) { 
	transition-delay: 0.5s;

} 

body.nav-on .nav-entry:nth-child( 3 ) { 
	transition-delay: 0.6s; 

} */


/*@media screen and ( max-width: 680px ) { 

	.main-nav .nav-entry-list { 
		flex-direction: column; 
		width: 100%; height: auto; 
	
	} 

	.main-nav .nav-entry { 
		width: 100%; height: 10rem; 
		position: relative; 
	
	} 

	.main-nav .nav-entry + .nav-entry { 
		border-top: 1px solid; 
		border-left: none; 
	
	}

	.main-nav .nav-link-text { 
		transform: none; 
	
	} 

	.main-nav .nav-entry { 
		transform: translateY( 100% ); 
	
	}
	
	.page-body.nav-on .main-nav .nav-entry { 
		transform: translateY( 0 ); 
	
	} 
	
	
}*/ 