.main-nav { 
	display: inline-block; 
	font-family: var( --main-nav-font-family );  
	font-size: 1em;  
	/* font-weight: 400;   */ 
	/* text-transform: uppercase;   */ 

} 

.nav-entry-list { 
	display: flex; flex-direction: row; flex-wrap: wrap; 

} 

.nav-entry { 
	/* width: var( --column-width );  */
	/* margin-right: var( --column-gutter-x );  */ 
	/* margin-top: var( --column-gutter-y );  */ 

} 

.main-nav .nav-entry-list, 
.switch-gallery-button { 
	margin-left: calc( -1 * var( --nav-button-padding-x ) ); 

}

.main-nav .nav-entry-list { 
	/* --column-count: 1;
	--column-gutter-x: 0rem; 
	--column-gutter-y: 0.2rem;	 */

	/* margin-bottom: 1.25rem;  */ 
	margin-left: calc( -1 * var( --nav-button-padding-x ) ); 
	
} 

.nav-entry-list > :last-child { 
	margin-right: 0; 

} 

.nav-entry { 
	margin-top: 0;  

} 

.nav-button { 
	display: block; 
	height: var( --nav-button-height ); line-height: var( --nav-button-height ); 
	position: relative; 
	font-size: var( --nav-button-font-size ); 
	/* text-transform: uppercase;   */ 

}

.nav-button:after { 
	display: block; 
	height: var( --current-entry-mark-height ); 
	position: absolute; left: 0; bottom: 0;  
	background-color: var( --text-color ); 
	content: "";  

} 

.nav-button:after, 
.nav-entry-list:hover .nav-button:after { 
	width: 0;  
	opacity: 0; 

}

.nav-entry-list:hover .nav-button:hover:after, 
.entry-current .nav-button:after { 
	width: var( --current-entry-mark-width ); 
	opacity: 1; 
	transition: width 0.2s; 

} 

.nav-button { 
	padding: 0; 
	border-style: solid; border-color: transparent; border-left-width: var( --nav-button-padding-x ); border-right-width: var( --nav-button-padding-x ); 

}

.usability-heading { 
	display: none; 

} 

/* .main-nav .nav-button {  
	width: 100%; 
	height: var( --id-height ); 
	padding-left: var( --nav-button-padding-x ); padding-right: var( --nav-button-padding-x ); 
	border: none; 
	background-color: var( --background-color ); 
	color: inherit; 
	cursor: pointer;   

}  */

/* .main-nav .nav-button:after { 
	display: block; 
	width: 75%; height: 2px; 	
	margin-top: 0.2rem; 
	content: ""; 
	background-color: var( --background-color ); 
	opacity: 0; 

} 

.main-nav .nav-entry:nth-child( 1 ) .nav-button:after { 
	opacity: 1; 

}  */ 
