@media ( max-width: 1320px ) { 

	.field { 
		--field-width: 100%; 

	}

}

@media ( min-width: 1081px ) { 

	#gallery-section .section-body, 
	.image-preview-list { 
		margin-left: 0; 
	}

	.image-preview-list { 
		--column-count: 5; 

	} 

	.image-preview-entry:nth-child( -n + 5 ) { 
		margin-top: 0; 

	}

	.image-preview-entry:nth-child( 5n + 1 ) { 
		margin-left: 0; 

	} 

} 

@media ( max-width: 1080px ) and ( min-width: 581px ) { 

	.header .index-link { 
		left: calc( -1 * ( 0.25 / 0.7 * 100% )  ); 

	} 

	.section-main > * { 
		margin-left: 25%; 

	} 

	.image-preview-list { 
		--column-count: 3; 

	} 

	.image-preview-entry:nth-child( -n + 3 ) { 
		margin-top: 0; 
	
	} 

	.image-preview-entry:nth-child( 3n + 1 ) { 
		margin-left: 0; 
	
	} 

} 

@media ( max-width: 1080px ) { 
	.image-preview-list { 
		justify-content: flex-start; 
	} 

	.image-preview-entry { 
		opacity: 1;  
	
	} 

	.image-preview { 
		opacity: 0.2; 
	
	} 

}

@media ( max-width: 840px ) { 

	:root { 
		/* --section-member-margin-top: 2rem;  */ 
		--section-main-margin-y: 4rem; 
	} 

	.header { 
		display: flex; flex-direction: column; align-items: flex-start; 

	}

	.header .index-link { 
		position: relative; left: 0; margin-left: 0; 
		margin-bottom: var( --id-margin-bottom ); 

	} 

	.section-main > * { 
		margin-left: 0; 

	} 

}

@media ( max-width: 580px ) { 

	.image-preview-list { 
		--column-count: 2; 

	} 

	.image-preview-entry:nth-child( -n + 2 ) { 
		margin-top: 0; 
	
	} 

	.image-preview-entry:nth-child( 2n + 1 ) { 
		margin-left: 0; 
	
	} 

}