.page-body { 
	--page-body-member-count: 3; 
	--page-body-member-width: calc( 100% / var( --page-body-member-count ) ); 
	--page-body-width: calc( var( --page-body-member-count ) * 100% ); 

} 

/*.body { 
	box-sizing: border-box; 
	height: 100%; 
	border: 1.5em solid; 

}*/ 

.page-body-holder { 
	width: 100%; height: 100vh; 
	position: relative; 
	/*position: fixed; left: 0; top: 0; 
	z-index: 3; */ 
	overflow: hidden; 

	/*box-sizing: border-box; 
	border: 2em solid transparent; */ 

} 

/*.page-body-holder::after { 
	--x: 0em; 
	display: block; 
	border: 1px solid; 
	position: absolute; z-index: -1; 
	left: var( --x ); right: var( --x ); top: var( --x ); bottom: var( --x ); 
	content: ""; 

}*/

.page-holder-open .page-body { 
	position: relative;  

} 

.page-body-nav .page-body { 
	position: fixed; 

}

/*.page-holder-open .page-holder { 
	margin-top: 100vh; 

}*/ 

/*.page-body-holder { 
	position: relative; 

}*/ 

.page-body { 
	position: absolute; 

} 

.page-body { 
	transform: translateX( 0 ); 
	transition: transform 0.4s; 

} 

.page-body { 
	/*display: flex; flex-direction: row; align-items: stretch; */ 
	width: var( --page-body-width ); height: 100%; 
	left: 0; top: 0; 
	/*background-color: var( --light-gray-color ); */ 
	/*border-left: 1px solid; */ 
	/*overflow: hidden; */ 

}  

.page-body > * { 
	box-sizing: border-box; 
	width: var( --page-body-member-width ); height: 100%; 
	position: absolute; top: 0; 

	/*box-sizing: border-box; 
	border: 1.5em solid; */ 


} 

/*.page-body > *::after { 
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; top: 0; 
	border: 1px solid green; 
	content: ""; 


} */ 

/*.page-body > * + * {  
	border-left: 1px solid; 

} */

.banner { 
	left: 0; 

}

.menu { 
	left: var( --page-body-member-width ); 

} 

.section-holder { 
	/*width: 100%; height: 100%; */ 
	/*position: fixed; left: 0; top: 0; z-index: 3; */ 
	left: calc( 2 * var( --page-body-member-width ) ); 
	/*background-color: var( --light-gray-color ); */ 
	overflow: auto; 

}

/*.page-body .main-nav-button-open { 
	display: none; 

} */ 

/*.page-body-nav .main-nav-button-open { 
	display: inline-block; 

} */ 

/*.page-body.banner-on { 
	transform: translateX( calc( 0 * var( --page-body-member-width ) ) );

}*/

.nav-on .page-body { 
	transform: translateX( calc( -1 * var( --page-body-member-width ) ) ); 

} 

.content-section-on .page-body { 
	transform: translateX( calc( -2 * var( --page-body-member-width ) ) ); 

} 

/*.content-section-on .section-holder { 
	transform: translateX( 0 ); 

} */ 

/*.page-body.content-section-on .section-on { 
	transform: translateX( 0 ); 
	opacity: 1; 

}*/

/*.page-body.content-section-on .section-holder { 
	transform: translateX( 0 ); 
	opacity: 1; 
	transition-property: transform, opacity; transition-delay: 0.2s; transition-duration: 0.2s; 

}*/ 

/*.page-body.content-section-on { 
	transform: translateX( -100% ); 

} */ 

.section-holder .section { 
	position: absolute; top: -10000px; 
	/*transform: translateX( 100px ); 
	opacity: 0; 
	transition-property: opacity, transform; transition-duration: 0.2s, 0.4s; transition-delay: 0.4s;  */

} 

.section-holder .section.section-on { 
	position: initial; 

} 

/*.section-holder .section.off, 
.section-holder .footer.off { 
	animation-name: off; animation-delay: 0.5s; 

}

@keyframes off { 
	100% { 
		position: absolute; top: -10000px; 

	}
	
} 

@keyframes on { 
	100% { 
		position: initial; 

	}
	
} */


/*@media screen and ( max-width: 680px ) { 

	.page-body { 
		transform: translateY( 100% ); 
	
	} 
	
	.page-body.page-body-nav { 
		transform: translateY( 100% ); 
	
	}
	
	.page-body.nav-on { 
		transform: translateY( 0 ); 
	
	} 
	
}*/ 
