.page-body { 
	--page-body-member-width: calc( 100% / 3 ); 

} 

.page-body-holder { 
	width: 100%; height: 100vh; 
	position: relative; 
	/*position: fixed; left: 0; top: 0; 
	z-index: 3; */ 
	overflow: hidden; 

}

.page-body { 
	/*display: flex; flex-direction: row; align-items: stretch; */ 
	width: 300%; height: 100%; 
	position: relative; 
	background-color: var( --light-gray-color ); 
	/*border-left: 1px solid; */ 
	overflow: hidden; 

}  

.page-body > * { 
	box-sizing: border-box; 
	width: var( --page-body-member-width ); height: 100%; 
	position: absolute; top: 0; 

} 

.page-body > * + * {  
	border-left: 1px solid; 

} 

.banner { 
	left: 0; 

}

.main-nav { 
	left: var( --page-body-member-width ); 

}

.section-holder { 
	left: calc( 2 * var( --page-body-member-width ) ); 
	overflow: auto; 

}

/*.page-body .main-nav-button-open { 
	display: none; 

} */ 

.page-body.page-body-nav .main-nav-button-open { 
	display: inline-block; 

} 

.page-body { 
	transform: translateX( calc( 0 * var( --page-body-member-width ) ) ); 
	transition: transform 0.4s; 

} 

/*.page-body.banner-on { 
	transform: translateX( calc( 0 * var( --page-body-member-width ) ) );

}*/

.page-body.nav-on { 
	transform: translateX( calc( -1 * var( --page-body-member-width ) ) ); 

} 

.page-body.content-section-on { 
	transform: translateX( calc( -2 * var( --page-body-member-width ) ) ); 

}

.page-body.content-section-on .section-on { 
	transform: translateX( 0 ); 
	opacity: 1; 

}

/*.page-body.content-section-on .section-holder { 
	transform: translateX( 0 ); 
	opacity: 1; 
	transition-property: transform, opacity; transition-delay: 0.2s; transition-duration: 0.2s; 

}*/ 

/*.page-body.content-section-on { 
	transform: translateX( -100% ); 

} */ 

.section-holder .section { 
	position: absolute; top: -10000px; 
	/*transform: translateX( 100px ); 
	opacity: 0; 
	transition-property: opacity, transform; transition-duration: 0.2s, 0.4s; transition-delay: 0.4s;  */

}

.section-holder .section-on { 
	position: initial; 

} 


/*@media screen and ( max-width: 680px ) { 

	.page-body { 
		transform: translateY( 100% ); 
	
	} 
	
	.page-body.page-body-nav { 
		transform: translateY( 100% ); 
	
	}
	
	.page-body.nav-on { 
		transform: translateY( 0 ); 
	
	} 
	
}*/ 
