.section-head { 
	--text-content-icon-width: 1rem; 
	--text-content-icon-height: var( --text-content-icon-width ); 
	--text-content-shift-width: 0rem; 

} 

/*.section-head .text-content { 
	--text-content-element-transition-delay: 0.02; 
	--text-content-element-shift: 50%; 
	--text-content-element-transition-duration: 0.1s; 

}*/ 

.section { 
	/*max-width: var( --page-inner-width ); */ 
	margin-left: auto; margin-right: auto; 
	/*padding-top: var( --section-padding-top ); */ 
	/*padding-bottom:  var( --section-padding-bottom ); */ 
	position: relative; 
	text-align: center; 

} 

.section > * { 
	max-width: var( --page-inner-width ); margin-left: auto; margin-right: auto; 

} 

.section-control-buttons { 
	/*display: flex; flex-direction: column; align-items: center; */ 
	margin-top: 1.5em; margin-left: 0; 
	/*position: absolute; left: 0; top: 0; */ 
	z-index: 2; 

} 

.section-control-buttons > * + * { 
	margin-top: 0.4em; 

}



.section > .section-body { 
	box-sizing: border-box; 
	width: 100%; height: 100%; 
	/*padding-top: 10em; padding-bottom: 15em; */ 
	/*position: fixed; left: 0; */
	z-index: 3; 
	/*background-color: rgba( 255, 255, 255, 0.9 ); */ 
	/*overflow: auto; */ 



} 

.body-section-heading { 
	margin-top: 3em; margin-bottom: 1.2em; 
	font-size: var( --body-section-heading-font-size ); 

}

/*.about-section .section-body { 
	height: 0; 

}*/ 

/*.section > .section-body { 
	border-left: 1px solid; 
	top: -10000px; 
	transform: translateX( 100% ); 

} 

.section:target .section-body { 
	top: 0; 
	transform: translateX( 0 ); 
	transition-property: transform; transition-duration: 0.5s; transition-delay: 0.5s; 

} */ 

/*.section-head .cover-image, 
.section .featured-image { 
	margin-top: 2em; margin-bottom: 2em; 

}*/ 

.section > .featured-image { 
	max-width: 100%;  padding-top: var( --section-featured-image-height ); 
	margin-top: 1.5rem; margin-bottom: 5%; 
	position: relative;  
	/*background-image: none !important; */ 
	/*box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.125); */ 
	/*border: 1px solid rgba(49, 68, 71, 0.4); */ 

} 

.section > .featured-image + * { 
	margin-top: 3.5rem; 

} 

/*.featured-image > img { 
	display: block; 
	height: 100%; 
	position: absolute; top: 0; left: 50%; transform: translateX( -50% ); 

} */ 

/*.featured-image > .id { 
	margin-bottom: 0; 
	position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% ); 

}*/ 

/*.section-body-content { 
	margin-left: auto; margin-right: auto; 
	width: var( --page-inner-width ); 

} */ 

/*.section-body-content { 
	transform: translateX( 100px ); 
	opacity: 0; 

} 

.section:target .section-body-content { 
	transform: translateX( 0 ); 
	opacity: 1; 
	transition-property: opacity, transform; transition-duration: 0.15s, 0.3s; transition-delay: 1.2s; 

}*/ 


@media screen and ( max-width: 780px ) { 

	/*.section-head { 
		padding-top: var( --section-head-cover-image-height ); 
	
	} */ 

	.section-head { 
		padding-top: 2.5em; padding-bottom: 2.5em; 
	
	} 

	.section-head:nth-of-type( n ) .text-content { 
		margin-left: 0; margin-right: 0; 
		text-align: left; 
	
	} 

	.section-head:nth-of-type( n ) .cover-image { 
		width: 100%; height: var( --section-head-cover-image-height ); 
		position: relative; 
	
	} 
	
} 

@media screen and ( max-width: 640px ) { 

	.section > .featured-image { 
		max-width: 100%; 
	
	} 
	
	
}
