.page-set { 
	/* display: none;  */
	box-sizing: border-box; 
	/* display: none;  */
	width: 100%; 
	height: 100%; 
	/* padding-left: 50%;  */
	/* margin-left: 50%;   */ 
	position: absolute; z-index: 2; 
	/* left: 50%;   */
	/* transform: translateX( 100% );  */
	/* background-color: var( --background-color ) !important;    */ 
} 

.page-set .section { 
	box-sizing: border-box;   
	display: flex; flex-direction: column; justify-content: center; 
	height: 100%; min-height: 100%; 
	width: 100%;  
	/* padding-left: 50%;   */ 
	/* margin-left: 50%;  */ 
	/* max-width: 40rem;  */
	/* padding-left: 2.5rem; padding-right: 4rem;   */ 
	position: relative; 
	/* background-color: var( --background-color );   */ 
	/* border-left: 4rem solid;  */

} 

.section > * { 
	margin-left: 50%; margin-bottom: var( --section-member-margin-bottom ); 
	padding-left: var( --text-padding-x ); padding-right: var( --text-padding-x ); 

} 

/* .page { 
	min-height: 100%; 
}  */ 

.heading { 
	font-family: var( --heading-font-family ); 
} 

.section-heading { 
	margin-bottom: var( --heading-margin-bottom );
	font-size: var( --section-heading-font-size ); 
} 

.section-subheading { 
	margin-bottom: var( --subheading-margin-bottom ); 
	font-size: var( --section-subheading-font-size ); 
	/* text-transform: uppercase; */ 

} 

.text-entry { 
	line-height: 1.2; 

}

.text-entry:not( :last-of-type ) { 
	margin-bottom: 0.5em; 
} 

.cover-image img { 
	display: none; 

} 

body, 
.page { 
	overflow: hidden; 

} 

.image-preview-list { 
	margin-left: 0; margin-bottom: 0; 

}

/* .section .text-content, 
.send-message { 
	padding-left: var( --text-padding-x ); padding-right: var( --text-padding-x ); 

} */

.section .text-content { 
	/* box-sizing: border-box;  */
	max-width: 40rem; max-height: 20rem; overflow: auto; 
	/* margin-bottom: 3.5rem;  */ 
	/* margin-left: 50%;   */ 
	/* padding-left: 1.8rem; padding-right: 4rem;    */
	position: relative; z-index: 2;  

} 

.section .cover-image { 
	display: block; 
	width: 50%; height: 100%; 
	position: absolute; right: 50%; top: 0; 
	z-index: 1; 
	background-color: var( --background-color ); 
	background-size: cover; 

} 

.section .cover-image:before { 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; 
	background-color: var( --overlay-color ); 
	content: ""; 

}

.page-set .section { 
	/* display: none;  */ 
	height: 0; 
	position: absolute; 
	z-index: 1; 
	/* overflow: hidden;  */ 
	/* transform: translateY( 100px );  */
	opacity: 0; 

} 

.page-set .section.section-current { 
	/* display: block;  */ 
	height: auto; 
	opacity: 1;  
	/* transform: translateY( 0 );  */
	/* transition-property: transform, opacity; transition-duration: 0.2s; transition-delay: 0.2s, 0.175s;  */
	/* animation-name: slide-up, display; animation-duration: 0.2s; animation-delay: 0.2s; animation-fill-mode: forwards;  */
	z-index: 2; 

} 

.section-current .text-content > *, 
.section-current .body { 
	/* position: absolute;  */ 
	/* transform: translateY( 100px ); 
	opacity: 0; 
	animation-name: slide-up, display; animation-duration: 0.2s; animation-fill-mode: forwards; */ 

}

/* .section-current .main-nav { 
	animation-delay: 0.2s;

} 

.section-current .section-heading { 
	animation-delay: 0.25s;
	
} 

.section-current .text-entry:nth-of-type( 1 ) { 
	animation-delay: 0.3s;
	
} 

.section-current .text-entry:nth-of-type( 2 ) { 
	animation-delay: 0.35s; 
	
} 

.section-current .body { 
	animation-delay: 0.4s; 

} */