.send-message { 
	position: relative; 
	z-index: 2; 
	margin-top: var( --send-message-margin-top ); 
	color: var( --background-color ); 

} 

.field-entry, 
.field, 
.submit-message-button { 
	font-family: inherit; font-size: var( --field-font-size );
	/* color: inherit;   */ 
} 

.submit-message-button { 
	color: var( --text-color ); 
	padding-right: var( --field-padding-x ); 

} 

.field, 
.submit-message-button { 
	padding-left: var( --field-padding-x ); 

}

.field { 
	box-sizing: border-box;  
	display: block; 
	width: var( --field-width ); 
	margin-bottom: var( --field-margin-bottom ); 
	padding-top: 0.5rem; padding-bottom: 0.5rem;  
	border: 1px solid var( --text-color );  
	background-color: transparent; 
	background-color: var( --text-color );  

} 

@media ( max-width: 1320px ) { 

	.field { 
		--field-width: 100%; 

	}

}

input { 
	height: var( --field-height ); 

} 

textarea { 
	height: calc( 3 * var( --field-height ) ); 

} 
