.send-message { 
	position: relative; 
	z-index: 2; 
	color: var( --text-color ); 

}

input, 
textarea { 
	display: block; 
	width: var( --field-width ); 
	margin-bottom: 0.4rem; 
	border: 1px solid var( --text-color );  
	background-color: transparent; 
	color: inherit; 

} 

input { 
	height: var( --field-height ); 

} 

textarea { 
	height: calc( 4 * var( --field-height ) ); 

} 
