
:root { 
	--header-margin-top: 5rem; 
	--id-height: 2rem; 

	--nav-button-padding-x: 0.5rem; 

	--heading-margin-bottom: 0.4em; 
	
	--text-font-family: Arial; 
	--heading-font-family: "Impact"; 
	--icon-font-family: "IonIcons"; 
	--icon-base-font-size: 1.2rem; 
	--icon-open-code: ""; 
	--icon-close-code: ""; 

	--base-font-size: 14px; 
	--text-font-size: 1rem; 
	--section-heading-font-size: 1.85rem; 

	--text-color: rgb(82, 64, 30); 
	--foreground-color: rgba( 255, 255, 255, 0.4 ); 
	--background-color: rgba( 255, 0, 0, 0.85 ); 
}