
:root { 
	/** 
	 * Layout 
	 */
	--header-margin-top: 5rem; 
	--id-height: 2rem; 

	--nav-button-padding-x: 0.5rem; 

	--heading-margin-bottom: 0.4em; 
	
	/**
	 * Font 
	 */

	--text-font-family: Arial; 
	--heading-font-family: "Impact"; 
	--icon-font-family: "IonIcons"; 
	--icon-base-font-size: 1.2rem; 
	--icon-open-code: ""; 
	--icon-close-code: ""; 

	--base-font-size: 14px; 
	--text-font-size: 1rem; 
	--section-heading-font-size: 1.85rem; 

	/** 
	 * Color 
	 */

	--text-color: rgba( 255, 255, 255, 0.75 ); 	
	--text-color: rgba( 0, 0, 0, 0.75 ); 
	--text-color: rgb( 217, 161, 89, 0.95 );
	--foreground-color: rgba( 255, 255, 255, 0.4 ); 
	--overlay-color:  rgba( 255, 255, 255, 0.4 ); 
	--background-color: rgba( 40, 0, 48, 0.85 ); 
	--background-color: rgb( 16, 25, 43 );   
}