
:root { 
	/** 
	 * Layout 
	 */
	--header-margin-top: 5rem; 
	--id-width: 10rem; 
	--id-height: 4.5rem; 
	--section-main-margin-y: 5rem; 
	--id-margin-bottom-to-section-main-margin-y-ratio: 0.125; 
	--id-margin-bottom: calc( var( --id-margin-bottom-to-section-main-margin-y-ratio ) * var( --section-main-margin-y ) ); 
	--section-padding-y-to-main-margin-y-ratio: 1.8; 
	--nav-button-height: 3rem; 
	--nav-button-padding-x: 0.5rem; 

	--heading-margin-bottom: 0.7em; 
	--subheading-margin-bottom: 0.4em; 
	--text-padding-x: 2.5rem; 

	--copyright-height: 2.5rem; 
	--copyright-member-padding-x: 0.7rem; 
	--social-net-link-size: 2.4rem; 
	--social-net-link-margin-bottom: 0.8rem; 
	
	/**
	 * Font 
	 */

	--id-font-family: "Permanent Marker"; 
	--text-font-family: "Heebo"; 
	--heading-font-family: "Fredericka the Great"; 
	--main-nav-font-family: var( --text-font-family ); 
	--icon-font-family: IonIcons; 
	--icon-base-font-size: 1.8rem; 
	--icon-arrow-font-size: 1.5rem; 
	--icon-open-code: ""; 
	--icon-close-code: ""; 

	--base-font-size: 14px; 
	--text-font-size: 1.2rem; 
	--section-heading-font-size: 1.8rem; 
	--section-subheading-font-size: 1rem; 
	--nav-button-font-size: 1rem; 
	--play-animation-button-font-size: var( --text-font-size ); 
	--social-link-font-size: 1.4rem; 
	/** 
	 * Color 
	 */

	/*--text-color: rgb( 255, 51, 0 );  */ 
	/* --text-color: rgba( 0, 0, 0, 0.75 );  */
	--text-color: rgb(121, 148, 84);  
	/*--text-color: rgb( 40, 0, 48, 0.85 ); */
	--section-overlay-color: rgba(255, 255, 255, 0.2); 
	--foreground-color: rgba( 255, 255, 255, 1 ); 
	--overlay-color:  rgb( 196, 158, 115 );  
	/* --overlay-color:  rgba( 217, 161, 89, 1 );  */
	/* --overlay-color:  rgba( 217, 161, 89, 1 );   */ 
	/* --overlay-color:  rgba( 40, 0, 48, 0.8 );   */
	--gallery-open-background-color: rgba( 255, 255, 255, 0.8 ); 
	/* --background-color: rgba( 40, 0, 48, 0.85 );  */
	/* --background-color: rgb( 16, 25, 43 );    */
	/* --background-color: rgba( 255, 255, 255, 1 );   */ 
	--background-color: rgba( 0, 0, 0, 0.9 ); 
	--scrollbar-thumb-color: var( --text-color ); 
	--scrollbar-track-color: transparent; 
} 

.page {  
	/* --section-member-margin-top: 4rem;  */   
	--section-padding-y: calc( var( --section-main-margin-y ) * var( --section-padding-y-to-main-margin-y-ratio ) );  
	--section-body-margin-top: 2rem; 
	--footer-margin-bottom: 0.8rem; 
	--button-height: var( --id-height );  

} 

.entry-list {  
	--column-gutter-count: calc( var( --column-count ) - 1 );  
	--column-gutter-y: var( --column-gutter-x ); 

	--column-width: calc( ( 100% - var( --column-gutter-count ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
} 

.nav-entry-list { 
	/* --column-count: 2;  */ 
	--column-gutter-x: 0rem; 

	--current-entry-mark-width: 50%; 
	--current-entry-mark-height: 2px; 
} 

.image-preview-list { 
	/* --column-count: 7;  */ 
	/* --visible-column-count: 5;  */ 
	--column-gutter-x: 0.7%;   

} 

/* #gallery-section .section-body { 
	--text-padding-x: 1.25rem; 

} */


/* .nav-entry-list, 
.image-preview-list { 
	--column-gutter-count: calc( var( --column-count ) - 1 ); 
	--column-width: calc( ( 100% - var( --column-gutter-count ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
}  */


.send-message { 
	--send-message-margin-top: 1rem; 
	--field-height: 3.25rem; 
	--field-width: 50%; 
	--field-margin-bottom: 0.7rem; 
	--field-font-size: calc( 0.85 * var( --text-font-size ) ); 
	--field-padding-x: 0.85rem; 
} 