.social-links-entry-list { 
	justify-content: center; 

} 

.social-links-entry { 
	width: auto; 

} 

.social-links-entry + .social-links-entry { 
	margin-left: 0.5em; 

}

.social-link { 
	display: block; 
	position: relative; 

} 

.social-link:hover::after { 
	border-color: transparent; 

}

.social-link-facebook { 
	--icon-code: "\f231"; 

} 

.social-link-instagram { 
	--icon-code: "\f350"; 

} 

.social-link-text { 
	display: none; 

}
