html, 
body { 
	font-family: Arial; 
	font-size: 14px; 

}

.heading { 
	font-family: Georgia; 
	font-size: 2.5em; 

} 

.subheading { 
	font-size: 1.4em; 

} 

.paragraph { 
	line-height: 1.2; 

}

/* Defines the distance between subheading and heading */
.subheading + .heading { 
	margin-top: 0.2em; 

}

/* Defines the distance between heading and text */
.heading + .paragraph { 
	margin-top: 1em; 

} 
