@font-face { 
	font-family: "IonIcons"; 
	src: url( "/assets/fonts/ionicons.ttf" ); 

} 

@font-face { 
	font-family: "Impact"; 
	src: url( "/assets/fonts/impact.ttf" ); 

} 

html, 
body { 
	font-family: var( --text-font-family) ; 
	font-size: var( --base-font-size );  
	font-weight: 400; 
} 

.section { 
	font-size: var( --text-font-size ); 

}
