@font-face { 
	font-family: "IonIcons"; 
	src: url( "/assets/fonts/ionicons.ttf" ); 

} 

@font-face { 
	font-family: "Impact"; 
	src: url( "/assets/fonts/impact.ttf" ); 

} 

html, 
body { 
	font-family: Arial; 
	font-size: var( --base-font-size );  
} 
