.work-section-entry-list { 
	/*--work-section-entry-list-column-count: 3; */
	--work-section-entry-list-column-gutter-x: 0.5em; 
	--work-section-entry-list-column-gutter-y: var( --work-section-entry-list-column-gutter-x ); 

	--work-section-entry-width: calc( 
		( 100% - ( var( --work-section-entry-list-column-count ) - 1 ) * var( --work-section-entry-list-column-gutter-x ) ) / 
		var( --work-section-entry-list-column-count ) 
	); 

	--work-section-entry-width-to-height-ratio: 2.5; 
	--work-section-entry-height: calc( var( --work-section-entry-width ) / var( --work-section-entry-width-to-height-ratio ) ); 

}

.work-section-entry-list { 
	display: flex; flex-direction: row; flex-wrap: wrap; 
	margin-top: 2em; 

} 

.work-section-entry { 
	box-sizing: border-box; 
	margin-left: var( --work-section-entry-list-column-gutter-x ); margin-top: var( --work-section-entry-list-column-gutter-y ); 
	width: var( --work-section-entry-width ); padding-top: var( --work-section-entry-height ); 
	position: relative; 
	background-color: var( --section-main-color ); 
	/*border-width: 1px; border-style: solid; border-color: var( --section-main-color ); */ 
	overflow: hidden; 

} 

/*.work-section-entry:hover { 
	border-color: var( --overlay-color ); 

} */

/*.work-section-entry:nth-child( -n + 3 ) { 
	margin-top: 0; 

}

.work-section-entry:nth-child( 3n + 1 ) { 
	margin-left: 0; 

} */ 

.work-section-image { 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; 
	background-size: cover; background-position: center; 
	text-indent: -10000px; 
	opacity: 1; 
	
} 

/*.work-section-image:hover { 
	opacity: 1; 
	
}*/ 

@media screen and ( min-width: 781px ) { 

	.work-section-entry-list { 
		--work-section-entry-list-column-count: 3; 

	} 

	.work-section-entry:nth-child( -n + 3 ) { 
		margin-top: 0; 
	
	}
	
	.work-section-entry:nth-child( 3n + 1 ) { 
		margin-left: 0; 
	
	} 
	
} 

@media screen and ( max-width: 780px ) and ( min-width: 521px ) { 

	.work-section-entry-list { 
		--work-section-entry-list-column-count: 2; 

	} 

	.work-section-entry:nth-child( -n + 2 ) { 
		margin-top: 0; 
	
	}
	
	.work-section-entry:nth-child( 2n + 1 ) { 
		margin-left: 0; 
	
	} 
	
} 

@media screen and ( max-width: 520px ) { 

	.work-section-entry-list { 
		--work-section-entry-list-column-count: 1; 

	} 

	.work-section-entry:nth-child( 1 ) { 
		margin-top: 0; 
	
	}
	
	.work-section-entry:nth-child( n ) { 
		margin-left: 0; 
	
	} 
	
} 