<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset= "UTF-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<title>Doshky</title> 

	<link rel="stylesheet" href="/assets/css/reset.css" /> 
	<link rel="stylesheet" href= "/assets/plugins/magnific-popup/dist/magnific-popup.css" /> 
	<link rel="stylesheet" href="/assets/css/style.css" />   

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Caveat+Brush&family=Comfortaa:wght@300;400;500;600;700&family=Darker+Grotesque:wght@300;400&family=Fredoka+One&family=Fredoka:wght@300;400;500;600;700&family=Gochi+Hand&family=Homemade+Apple&family=Kaushan+Script&family=Kolker+Brush&family=La+Belle+Aurore&family=Montez&family=Mr+Dafoe&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300&family=Rock+Salt&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Vujahday+Script&family=Yesteryear&display=swap" rel="stylesheet">  
</head>
<body>  
	<div class= "page-body-holder"> 
		<div id= "page-body" class= "page-body"> 
			{% include banner.html 
				banner = site.data.banner 
				logoSrc = "logo-secondary-color.png" 
				className = "banner-intro" 
			%} 

			{% include banner.html 
				banner = site.data.banner 
				logoSrc = "logo-main-color.png" 
				className = "main-banner"
			%} 

			{% include main-nav.html %} 
		</div> 
	</div> 

	<div class= "section-holder"> 
		{% include work.html 
			section = site.data.pages.work 
		%} 

		{% include about.html 
			section = site.data.pages.about 
		%} 

		{% include contact.html 
			section = site.data.pages.contact 
		%}
	</div> 

	<div id= "page-holder" class= "page-holder"> 
		<main class= "page"> 
			{{ content }} 
		</main> 

		{% include footer.html %} 
	</div> 

	<script src= "/assets/js/main.js"></script> 

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
	<script src= "/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script> 
	<script src= "/assets/js/gallery.js"></script> 
</body>
</html>