<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset= "UTF-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<title>Doshky</title> 

	<link rel="stylesheet" href="/assets/css/reset.css" /> 
	<link rel="stylesheet" href= "/assets/plugins/magnific-popup/dist/magnific-popup.css" /> 
	<link rel="stylesheet" href="/assets/css/style.css" />   

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;500;600;700;800&family=Rock+Salt&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
</head>
<body> 
	<div class= "page-body-holder"> 
		<div class= "animation-holder">
			<div class= "logo-holder"> 
				<div class= "logo-holder-entry logo-holder-entry-intro"> 
					<div class= "logo-holder-entry-frame">
						<figure class= "logo">
							<img 
								src= "./assets/images/logo-sign-secondary-color-v.6.png" 
								class= "image logo-element logo-sign" 
							/> 
	
						</figure>
					</div>
				</div> 
	
				<div class= "logo-holder-entry logo-holder-entry-main"> 
					<div class= "logo-holder-entry-frame"> 
						<figure class= "logo">
							<img 
								src= "./assets/images/logo-sign-main-color-v.6.png" 
								class= "image logo-element logo-sign" 
							/> 
	
						</figure> 
					</div>
				</div>
			</div> 
		</div> 

		<div id= "page-body" class= "page-body"> 

			{% assign about = site.pages[ 0 ] %} 
			{% assign contact = site.pages[ 1 ] %}
			{% assign welcome = site.pages[ 2 ] %} 
			{% assign work = site.pages[ 3 ] %} 
			
			{% include banner.html 
				banner = welcome 
				logoSrc = "logo-main-color.png" 
				className = "main-banner"
			%} 

			{% include main-nav.html %} 

			<div class= "section-holder"> 
				<div id= "section-top" class= "section-top"></div>  
		 
				{% include work.html 
					section = work 
				%} 
	
				{% include about.html 
					section = about 
				%} 
		
				{% include contact.html 
					section = contact 
				%} 
		
				{% include footer.html targetID = "section-top" %} 
			</div> 
		</div> 
	</div> 

	<!--<div id= "page-holder" class= "page-holder"> 
		<main class= "page"> 
			{{ content }} 
		</main> 

		{% include footer.html %} 
	</div> -->

	<script src= "/assets/js/main.js"></script> 

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
	<script src= "/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script> 
	<script src= "/assets/js/gallery.js"></script> 

	<script async src="https://www.google.com/recaptcha/api.js?render=explicit"></script> 
	 
	<script data-cfasync="false" type="text/javascript" src="/assets/js/form-submission-handler.js"></script> 

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> 
	<script>
		if (window.netlifyIdentity) {
		  window.netlifyIdentity.on("init", user => {
			if (!user) {
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  });
		}
	</script> 
</body>
</html>