<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset= "UTF-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<title>Doshky</title> 
	<link rel="stylesheet" href="/assets/css/reset.css" /> 
	<link href= "/assets/css/intro-animation.css" rel= "stylesheet" /> 

	<!-- <link rel="stylesheet" href="/assets/plugins/lightslider/dist/css/lightslider.min.css" />   -->
	<!-- <link rel="stylesheet" href="/assets/plugins/vegas/vegas.min.css" />   --> 
	<!-- <link rel="stylesheet" href="/assets/plugins/nanogallery2/dist/css/nanogallery2.min.css" />  -->

	<link rel="stylesheet" href="/assets/css/style.css" />   
	<link rel="stylesheet" href="/assets/plugins/magnific-popup/dist/magnific-popup.css" /> 

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Heebo:wght@300;400&display=swap" rel="stylesheet"> 
</head>
<body class= "ui-visible"> 

	
	<main class= "page"> 
		<div class= "scroll-window"> 
			<div class= "scroll-track"> 
				{{ content }} 
			</div>
		</div>
	</main> 

	<script src= "/assets/js/jquery/dist/jquery.min.js"></script> 
	<!-- <script src= "/assets/js/smooth-scroll.js"></script>  --> 
	<script src= "/assets/js/main.js"></script> 
	<script src=" /assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script> 
	<script src= "/assets/js/gallery.js"></script>
	<!-- <script src= "/assets/js/form-submission-handler.js"></script>  --> 
	<script src= "/assets/js/send-message.js"></script> 
</body>
</html>