<!DOCTYPE html>
<html lang= "en">
<head>
	<meta charset= "UTF-8">
	<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
	<title>Document</title> 
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/reset.css" /> 
	<!-- <link rel="stylesheet" href="/assets/plugins/lightslider/dist/css/lightslider.min.css" />  --> 
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/vegas/vegas.min.css" /> 
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />  
</head>
<body> 
	{% include header.html %} 

	<main class= "page"> 
		{{ content }} 
	</main>

	{% include footer.html %} 

	<script src= "{{ site.baseurl }}/assets/js/jquery/dist/jquery.min.js"></script> 
	<!-- <script src= "/assets/plugins/bxslider/dist/jquery.bxslider.min.js"></script>  --> 
	<script src= "{{ site.baseurl }}/assets/plugins/vegas/vegas.min.js"></script>
	<script src= "{{ site.baseurl }}/assets/js/main-nav.js"></script> 
	<script src= "{{ site.baseurl }}/assets/js/header.js"></script>    
	<script src= "{{ site.baseurl }}/assets/js/page-set.js"></script> 
	<script src= "{{ site.baseurl }}/assets/js/gallery.js"></script> 
</body>
</html>