:root { 
	/* Sets main color and gives an option to specify opacity */
	--main-color-rgb: 146, 138, 104; 
	--main-color-opacity: 1; 
	/* Sets secondary color and gives an option to specify opacity */
	--secondary-color-rgb: 49, 68, 71; 
	--secondary-color-opacity: 1;  

	/* Sets the overlay color as the main color, with lower opacity */ 
	--overlay-color-rgb: var( --main-color-rgb ); 
	--overlay-color-opacity: 0.5; 

} 

.banner-intro { 
	--section-main-color: var( --main-color ); 
	--section-secondary-color: var( --secondary-color ); 

} 

.main-nav, 
.page-body-holder, 
.main-banner { 
	--section-main-color: var( --secondary-color ); 
	--section-secondary-color: var( --main-color ); 

} 

.index-link { 
	background-image: url( "/assets/images/logo-secondary-color-v.6.png" ); 

} 

.main-banner .index-link { 
	background-image: url( "/assets/images/logo-main-color-v.6.png" ); 

} 

.main-banner .cover-image { 
	background-image: url( "/assets/images/doshky-background-main-color.png" ) !important; 

}

.section > .featured-image, 
.work-section-entry, 
.section-holder .owner-photo { 
	background-color: transparent; 

} 

.section > .featured-image { 
	background-color: rgba(255, 255, 255, 0.25); 

} 
